<div class="headline">
    <div class="headline-title"><md-icon md-font-set="material-icons">rss_feed</md-icon> Live Sessions</div>
</div>

<div>
    <session-list></session-list>
    <div class="subheader">Upcoming Sessions</div>
    <div class="lecture-list">
        <md-button class="lecture-list-item" ng-repeat="event in vm.upcomingEvents" ui-sref="main.event.content({id:event.id})">
            <div class="item-text" layout="column">
                <h4>{{ event.lectureTerm.lecture.title }}</h4>
                <div class="secondary">{{ event.lectureTerm.lecture.slug }}</div>
                <div>{{ event.lectureTerm.term }}<span ng-if="event.lectureHall !== null">, {{ event.lectureHall.name }}</span></div>
            </div>
            <div class="session-counter">
                <div>{{ event.start | date : 'EEE. dd. MMM.' }}</div>
                <div>{{ event.start | date : 'HH:mm' }} - {{ event.stop ? (event.stop | date : 'HH:mm') : '?' }}</span></div>
            </div>
            <session-auth auth-entity="event.lectureTerm.auth"></session-auth>
        </md-button>
    </div>
</div>
