<session-content-live ng-if="vm.session !== null && vm.session.active" session="vm.session" selected-stream-idents="vm.selectedStreams"></session-content-live>
<session-content ng-if="vm.session !== null && !vm.session.active" session="vm.session" selected-stream-idents="vm.selectedStreams"></session-content>
<event-content ng-if="vm.session === null" event="vm.event"></event-content>
