<div class="headline">
    <div class="headline-title">Home</div>
</div>

<md-toolbar>
    <div class="md-toolbar-tools">
        <file-path flex md-truncate node="vm.parent"></file-path>

        <md-button ng-if="vm.selectionSize > 0" class="md-icon-button" aria-label="Delete Selected Files" ng-click="vm.deleteNodes()">
            <md-icon md-font-set="material-icons">delete</md-icon>
        </md-button>

        <md-menu ng-if="vm.selectionSize > 0">
            <md-button aria-label="Open context menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item ng-if="vm.selectionSize === 1">
                    <md-button ng-click="vm.rename()">
                        <md-icon md-font-set="material-icons">edit</md-icon>
                        Rename
                    </md-button>
                </md-menu-item>
                <!--<md-menu-item ng-if="vm.selectionSize === 1">
                    <md-button ng-click="vm.editTags()">
                        <md-icon md-font-set="material-icons">label_outline</md-icon>
                        Edit Tags
                    </md-button>
                </md-menu-item>-->
                <md-menu-item>
                    <md-button ng-click="vm.copyMove()">
                        <md-icon md-font-set="material-icons">content_copy</md-icon>
                        Copy / Move
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <span ng-if="vm.selectionSize > 0" class="vertical-seperator"></span>

        <md-button class="md-icon-button" aria-label="New Folder" ng-click="vm.addDirectory()">
            <md-icon md-font-set="material-icons">create_new_folder</md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Upload Files" ng-click="vm.startUpload()">
            <md-icon md-font-set="material-icons">file_upload</md-icon>
        </md-button>
    </div>
</md-toolbar>


<node-list ng-if="vm.initialized" parent="vm.parent" on-select-change="vm.selectChangeHandler($event)"></node-list>

