<div class="streamview">
    <div class="headline">
        <div class="headline-title">
            {{ vm.event.lectureTerm.lecture.title }}
            <span class="secondary">{{ vm.event.start | date : "dd.MM.yyyy HH:mm"}} - {{ vm.event.stop | date : "HH:mm"}}</span>
        </div>
        <md-menu class="headline-controls">
            <md-button aria-label="Select languages" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <md-icon md-font-set="material-icons">info_outline</md-icon>
                <md-tooltip md-delay="200" md-direction="top">lecture infos</md-tooltip>
            </md-button>
            <md-menu-content>
                <md-menu-item ng-repeat="lecturer in vm.event.lectureTerm.lecturers">
                    <md-button ui-sref="main.lecturer.view({id: lecturer.id})"><md-icon md-font-set="material-icons">account_circle</md-icon>{{ lecturer.fullName }}</md-button>
                </md-menu-item>
                <md-menu-item ng-if="vm.event.lectureHall !== null">
                    <md-button ui-sref="main.hall.view({id: vm.session.event.lectureHall.id})"><md-icon md-font-set="material-icons">place</md-icon>{{ vm.event.lectureHall.name }}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div class="event-placeholder">
        Start: {{ vm.event.start | date : "dd.MM.yyyy HH:mm"}}
    </div>
    <event-nodes event="vm.event" read-only="!vm.event.canUpload"></event-nodes>
</div>
