
<md-dialog aria-label="Create Directory">
    <form ng-cloak name="createDirForm" ng-submit="vm.submit(createDirForm)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Directory</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex>
                    <label>Name</label>
                    <input name="dirName" ng-model="vm.dirName" required ng-maxlength="255" md-autofocus="true"></input>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" type="submit" title="Confirm Create" ng-disabled="!createDirForm.$valid">
                Create
            </md-button>
            <md-button class="md-raised md-primary" title="cancel" ng-click="vm.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
