body.rsp0, body.rsp1 {

    /**
     *
     * PRESETTINGS
     *
     */

     /*
    font-size: 14px;
    line-height: 20px;
*/
    /*
    input[type="text"], input[type="password"], input[type="email"], select, button, a.button {
        height: 22px;
    }

    button, a.button {
        padding: 2px 12px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        padding: 1px 3px;
    }*/









}
