
.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.border-top-right-radius(@radius) {
    -webkit-border-top-right-radius: @radius;
    -moz-border-top-right-radius: @radius;
    border-top-right-radius: @radius;
}
.border-top-left-radius(@radius) {
    -webkit-border-top-left-radius: @radius;
    -moz-border-top-left-radius: @radius;
    border-top-left-radius: @radius;
}
.border-bottom-right-radius(@radius) {
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-bottom-right-radius: @radius;
    border-bottom-right-radius: @radius;
}
.border-bottom-left-radius(@radius) {
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-bottom-left-radius: @radius;
    border-bottom-left-radius: @radius;
}

.shadow (@style) {
    -webkit-box-shadow:  @style;
    -moz-box-shadow:  @style;
    box-shadow: @style;
}

.shadow (@style, @color) {
    -webkit-box-shadow:  @style @color;
    -moz-box-shadow:  @style @color;
    box-shadow: @style @color;
}

.box-sizing (@value) {
    box-sizing: @value;
    -moz-box-sizing: @value;
    -webkit-box-sizing: @value;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/static/assets/fonts/MaterialIcons-Regular.eot');
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('/static/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'), url('/static/assets/fonts/MaterialIcons-Regular.woff') format('woff'), url('/static/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



/**
 *
 * PRESETTINGS
 *
 */


html, body {
    //height: 100%;
    //margin: 0;
    //padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
    background: #ffffff url('/static/assets/images/bg_body_V2.jpg') center 120px no-repeat;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 1.2727em;
    border-bottom: 1px solid @lineColor;
    padding: 10px 0;
    margin: -1px 0 14px;
}

h2, h3, h4, h5, h6 {
    font-size: 1.0909em;
}

i.fa {
    font-size: 14px;
    &.small {
        font-size: 10px;
    }
}

.btn1 {
    font-size: 1em;
    min-height: 28px;
    line-height: 28px;
    min-width: 70px;
    font-weight: 600;
    .border-radius(0px);
}

.vertical-seperator {
    height: 80%;
    width: 1px;
    display: inline-block;
    background-color: #ddd;
}

.md-button {
    .border-radius(0px);
    .md-ripple-container {
        .border-radius(0px);
    }
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(240, 240, 240);
    color: #666;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    md-icon {
        color: #666;
    }
}

md-toolbar {
    min-height: 40px;
}

.md-toolbar-tools {
    font-size: 12px;
    height: 40px;
}

.btn2, md-menu-item > .btn2 {
    font-size: 12px;
    &.selected {
        md-icon {
            color: #8BC34A;
        }
    }
}

.sel1 {
    md-select-menu {
        md-content {
            //background-color: rgb(230,230,230);
            md-option {
                //height: 28px;
                .md-text {
                    font-size: 12px;
                    font-weight: 400;
                }
                &[selected], &:hover[selected] {
                    color: #009688
                }
                &:hover {
                    background-color: rgba(158,158,158,0.2);
                }
            }
        }
    }
}

.hidden {
    display: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

md-content {
    //background-color: transparent;
}

md-grid-tile {
    transition: all 200ms ease-out 50ms;
}

form {
    font-size: 14px;
    .hint {
        position: absolute;
        left: 2px;
        right: auto;
        bottom: 7px;
        font-size: 12px;
        line-height: 14px;
        color: grey;
    }
}

.mauto {
    margin: auto;
}

.text-center {
    text-align: center;
}

md-autocomplete[md-floating-label] md-input-container {
    padding-bottom: 0;
}

.md-subheader {
    background-color: rgb(240, 240, 240);
    color: #009688;
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    ._md-subheader-inner {
        padding-left: 0;
    }
}

.input-success {
    position: absolute;
    right: 10px;
    top: 6px;
    md-icon {
        color: #009688;
    }
}

.checkmark {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border: 20px solid #009888;
    border-left-color: transparent;
    border-top-color: transparent;
    md-icon {
        position: absolute;
        top: -4px;
        left: -4px;
        color: white;
    }
}

.hotmark {
    position: absolute;
    top: 5px;
    right: 5px;
}

.md-chips {
    font-size: 12px;
    padding: 0;
    min-height: 32px;

}

md-chips .md-chips {
    //box-shadow: none;
}

.md-chips md-chip {
    height: 24px;
    line-height: 24px;
}

.md-chips md-chip .md-chip-remove md-icon {
    transform: none;
    -webkit-transform: none;
    top: 0;
    right: 0;
    left: inherit;
}

.md-chips:not(.md-readonly) .md-chip:not(.md-readonly) {
    padding-right: 30px;
}

.checkbox-list {
    margin: 5px 0;
    padding: 0 10px;
    > div {
        display: inline-block;
    }
}

.radio-list {
    display: block;
    margin: 5px 0;
    padding: 0 10px;
    > div {
        display: inline-block;
    }
}

.filter-box {
    background-color: #F1F0F0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .filter-result {
        position: relative;
        padding: 10px 50px 10px 10px;
        .box-sizing(border-box);
        .md-toggle-icon {
            transition: transform 0.3s ease-in-out;
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
        }
        .md-button {
            position: absolute;
            top: 0px;
            right: 10px;
        }
        min-height: 40px;
    }
    .filter-controls {
        display: none;
        padding: 10px;
    }
    .md-subheader {
        background-color: transparent;
    }
    &.open {
        .filter-result {
            .md-toggle-icon {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
            }
        }
        .filter-controls {
            display: block;
        }
    }
}

md-input-container.md-icon-float > md-icon {
    top: 10px;
    left: 5px;
}

md-input-container.md-button-right{
    padding-right: 100px;
    .md-button {
        position: absolute;
    }
}

.md-button.md-default-theme.md-accent, .md-button.md-accent {
    color: rgba(0, 0, 0, 0.933333);
}

.no-errors-form {
    .md-errors-spacer {
        display: none;
    }
}

.password-show {
    position: absolute;
    right: 0;
    bottom: 20px;
}

md-input-container.no-padding {
    padding-left: 2px;
    padding-right: 2px;
    > label {
        left: 0px;
    }
}


.big-lock {
    position: relative;
    text-align: center;
    padding: 20px;
    height: 100px;
    md-progress-circular {
        position: absolute;
        top: -20px;
        left: 20px;
    }
    md-icon {
        font-size: 60px;
        width: 60px;
        height: 60px;
        color: #FFC107;
    }
    > span {
        font-size: 32px;
        font-weight: bold;
        color: rgba(0,0,0,0.2);
        position: absolute;
        top: 48px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}

.placeholder {
    position: relative;
    width: 100%;
    height: 84px;
    text-align: center;
    > span {
        position: relative;
        z-index: 2;
        line-height: 84px;
        font-size: 14px;
        color: rgb(150,150,150);
    }
    &::before {
        content: "[   ]";
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-size: 60px;
        line-height: 75px;
        color: rgb(230,230,230);
    }
}

.subheader {
    padding: 10px;
    background-color: #F1F0F0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    &.wo-background {
        background-color: transparent;
        font-size: 14px;
        padding-left: 0;
    }
}

.secondary {
    color: rgb(150,150,150);
}

md-tooltip ._md-content {
    height: auto;
}

.slider-container {
    padding-right: 20px;
    > div {
        width: 100px;
    }
}


.md-track-ticks {
    display: none;
}

.md-ripple-container {
    display: none;
    transition: none;
}

._md-select-menu-container._md-active md-select-menu {
    transition: none;
    > * {
        transition: none;
    }
}


._md-select-menu-container._md-leave {
    transition: none;
}

md-tab-content {
    overflow: visible;
    .subheader {
        margin: 20px 0 10px 0;
    }
}

.md-button.md-icon-button.button-inline-form {
    margin-top: 15px;
}

.error {
    &.ng-inactive {
        display: none;
    }
    color: rgb(221,44,0);
    background-color: #FFE1DA;
    padding: 10px;
    font-size: 12px;
    border-bottom: 2px solid rgb(221,44,0);
}


md-menu-item {
    height: 34px;
    min-height: 34px;
    .md-button {
        font-size: 1em;
        line-height: 3em;
        min-height: auto;
        text-transform: uppercase;
    }
}

.md-small {
    height: 24px;
    line-height: 24px;
    min-height: 24px;
}


/*
a {
    text-decoration: underline;
    color: @linkColor;
}

a:hover {
    text-decoration: none;
    color: @linkColor;
}

a.button {
    display: inline-block;
    text-decoration: none;
    font-size: .9524em;
    &:hover {
        text-decoration: none;
    }
}

button, input[type="button"], a.button {
    background-color: white;
    color: @naviColor;
    font-weight: bold;
    border: 1px solid @formBorderColor;
    cursor: pointer;
    &:disabled {
        cursor: default;
        color: @buttonDisabledColor;
    }
    &.active {
        background-color: rgb(240,240,240);
        color: lighten(@naviColor, 10%);
    }
}


label {
    font-weight: bold;
    color: @brightTextColor;
    display: block;
}

input, select, textarea, button, a.button {
    .box-sizing(border-box);
}

button, a.button {
    padding: 2px 8px;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
    font-size: 1em;
    background-color: @formBgColor;
    border: 1px solid @formBorderColor;
    width: 100%;

    &.error, &.ng-touched.ng-invalid {
        border-color: rgb(200,80,80);
    }
}

input[type="text"], input[type="password"], input[type="email"], select, button, a.button {
    height: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 1px 2px;
}

textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    resize: none;
}

form .form-group {
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0px;
    }
}

form .inline-form-group {
    display: table;
    .inline-form-cell {
        display: table-cell;
        height: 30px;
        vertical-align: middle;
        padding-right: 10px;
    }
    label {
        display: inline;
    }
    input {
        margin-bottom:0;
    }
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0px;
    }
}


form .form-button-group {
    margin-top: 10px;
}
*/

/**
 *
 * HELPER
 *
 */

.kit-round {
    .border-top-right-radius(15px);
    .border-bottom-left-radius(15px);
}

.fill {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.headline {
    position: relative;
    padding-bottom: 10px;
    margin: 0;
    //border-bottom: 1px solid @lineColor;
    overflow: auto;
    .headline-title {
        font-size: 2em;
        line-height: 1.2em;
        margin-top: 13px;
        display: inline-block;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        md-icon {
            margin-right: 10px;
        }
        .secondary {
            font-size: 12px;
            margin-left: 10px;
        }
        md-select {
            display: inline-block;
        }
    }

    .headline-controls {
        position: relative;
        display: inline;
        float: right;
        > button > md-icon {
            color: #009688;
        }
    }
}

.pull-right {
    position: relative;
    display: inline;
    float: right;
}

.vjs-video-wrap {
    height: 100%;
}

.video-js {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    .vjs-control-bar {
        background-color: #2B333F;
    }
    .vjs-tech {
        padding: 10px;
    }
    .vjs-text-track {
        font-size: 1.4em;
        text-align: center;
        margin-bottom: 0.1em;
        background-color: #000;
        background-color: rgba(255, 0, 0, 0.5);
    }
    &.inline {/*
        .vjs-big-play-button {
            display: none;
        }*/
        .vjs-control-bar {
            display: flex;
            margin-bottom: 5px;
        }
        .vjs-volume-menu-button {
            margin-right: 10px;
        }
    }
}

.with-captions {
    .video-js {
        .vjs-tech {
            padding: 10px 10px 90px 10px;
        }
        &.vjs-fullscreen {
            .vjs-tech {
                padding-bottom: 200px;
            }
            .vjs-text-track-display > div > div > div {
                font-size: 75%;
            }
        }
    }
}
