
/**
 * Colors
 */

@white: rgb(255,255,255);
@blue: #5DCEEF;
@darkGrey: #494949;
@red: #D55296;

@grey200: rgb(200,200,200);
@grey230: rgb(230,230,230);
@grey240: rgb(240,240,240);

/**
 * Main Layout
 */

@topBarHeight: 60px;
@topBarBgColor: @darkGrey;

@formBorderColor: #b3b3b3;
@formBgColor: #f2f2f2;

@linkColor: #009682;

@lineColor: #ccc;

@naviColor: rgb(59, 112, 102);


@brightTextColor: #808080;
@frameBgColor: #e5e5e5;


@inputFocusColor: @blue;
@inputErrorColor: @red;


@buttonBgColor: @grey240;
@buttonBorderColor: @grey200;
@buttonDisabledColor: #ababab;