<md-dialog class="tree-view-dialog" aria-label="Tree View Dialog" ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <chart tree="vm.session.tree"></chart>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.close()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>
