<div class="headline">
    <div class="headline-title">{{ vm.node.name }}</div>
</div>
<form novalidate name="fileEditForm" ng-submit="vm.submitFile(fileEditForm)" class="md-inline-form">
    <div layout="column">
        <md-input-container class="md-block" flex>
            <label>Name</label>
            <input name="fileName" ng-model="vm.formData.name" ng-change="vm.changeHandler()" required ng-maxlength="255"></input>
        </md-input-container>
        <!--
        <md-input-container class="md-block">
            <tag-select name="tags" ng-model="vm.formData.tags"></tag-select>
        </md-input-container>-->
        <md-input-container class="md-block" flex>
            <label>Created</label>
            <input name="created" ng-model="vm.formData.created" disabled></input>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Size</label>
            <input name="size" ng-model="vm.formData.size" disabled></input>
        </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
        <md-button type="submit" class="md-raised md-primary" ng-disabled="!fileEditForm.$valid || fileEditForm.$pristine">Save</md-button>
        <div ng-if="vm.fileSaved && fileEditForm.$pristine" class="saved-check-mark">
            <md-icon md-font-set="material-icons">done</md-icon>
        </div>
        <md-button class="md-raised md-primary" ng-click="vm.remove()">Delete</md-button>
        <md-button class="md-raised" ng-click="vm.goBack()">Back</md-button>
    </div>
</form>
