<div class="headline">
    <div class="headline-title">
        {{vm.lecture.title}} {{vm.lectureTerm.term}}
        <span class="secondary">{{ vm.lecture.slug }}</span>
    </div>
</div>

<lecture-term-select lecture="vm.lecture" term="vm.lectureTerm.term" base-state="main.lecture.term.edit"></lecture-term-select>

<form novalidate name="lectureTermEditForm" ng-submit="vm.submitLectureTerm(lectureTermEditForm)" class="md-inline-form">
    <md-subheader class="md-no-sticky">
        Semester Information
    </md-subheader>
    <md-input-container class="md-block">
        <label>Description (optional)</label>
        <textarea name="description" ng-model="vm.termFormData.description"></textarea>
    </md-input-container>
    <div layout="row">
        <md-input-container class="md-block no-padding" flex>
            <label>Lecturers</label>
            <md-select ng-model="vm.termFormData.lecturers.selected" multiple>
                <md-option ng-value="lecturer.id" ng-repeat="lecturer in vm.termFormData.lecturers.all">{{lecturer.fullName}}</md-option>
            </md-select>
        </md-input-container>
        <md-button ng-click="vm.openLecturerCreateDialog()" class="md-icon-button button-inline-form">
            <md-icon md-font-set="material-icons">add_circle</md-icon>
        </md-button>
    </div>
    <div layout-xs="column" layout="row" layout-align="start center">
        <md-input-container class="md-block" flex>
            <md-checkbox ng-model="vm.termFormData.archive">
                Make this lecture available offline
            </md-checkbox>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <md-checkbox ng-model="vm.termFormData.mediaAccess">
                Grant full media access to everyone
            </md-checkbox>
        </md-input-container>
    </div>
    <div layout="row" layout-align="start center">
        <md-button type="submit" class="md-raised md-primary" ng-disabled="!lectureTermEditForm.$valid || lectureTermEditForm.$pristine">Save</md-button>
        <div ng-if="vm.lectureTermSaved && lectureTermEditForm.$pristine" class="saved-check-mark">
            <md-icon md-font-set="material-icons">done</md-icon>
        </div>
    </div>

</form>

<md-subheader class="md-no-sticky">
    Events
    <md-button ng-if="!vm.showNewEventForm" ng-click="vm.showNewEventForm = true" class="md-icon-button md-primary">
        <md-icon md-font-set="material-icons">add_circle_outline</md-icon>
    </md-button>
</md-subheader>

<form novalidate ng-if="vm.showNewEventForm" name="newEventForm" ng-submit="vm.createEvent(newEventForm.$valid)" class="md-inline-form event-edit-form new-event-form" layout-gt-xs="row" layout="column">
    <div layout="column" flex="none" flex-xs="100" class="event-time-controls">
        <md-datepicker flex ng-model="vm.newEvent.startDate" md-placeholder="Enter date"
            md-min-date="vm.termLimits.minDate"
            md-max-date="vm.termLimits.maxDate"></md-datepicker>
        <md-input-container class="md-block" flex>
            <input ng-model="vm.newEvent.startTime" name="start" placeholder="Start Time" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/"></input>
            <div ng-messages="newEventForm.start.$error">
                <div ng-message-exp="['required']">Please enter a start time.</div>
                <div ng-message-exp="['pattern']">The start time must be of format HH:MM.</div>
            </div>
        </md-input-container>
    </div>
    <div layout="column" flex="none" flex-xs="100" class="event-time-controls">
        <md-datepicker flex ng-model="vm.newEvent.stopDate" md-placeholder="Enter date"
            md-min-date="vm.termLimits.minDate"
            md-max-date="vm.termLimits.maxDate"></md-datepicker>
        <md-input-container class="md-block" flex>
            <input ng-model="vm.newEvent.stopTime" name="stop" placeholder="Stop Time" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/"></input>
            <div ng-messages="newEventForm.stop.$error">
                <div ng-message-exp="['required']">Please enter a start time.</div>
                <div ng-message-exp="['pattern']">The start time must be of format HH:MM.</div>
            </div>
        </md-input-container>
    </div>
    <div layout="column" flex flex-xs="100">
        <md-autocomplete  flex
            md-input-name="hallField"
            md-min-length="3"
            md-selected-item="vm.newEvent.hall.selected"
            md-search-text="vm.newEvent.hall.searchText"
            md-items="item in vm.newEvent.hall.query(vm.newEvent.hall.searchText)"
            md-item-text="item.name"
            md-floating-label="Lecture Hall (optional)">
          <md-item-template>
            <span md-highlight-text="vm.newEvent.hall.searchText">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>
        <div flex layout="row" layout-align="end center" class="event-edit-controls">
            <div>
                <md-button ng-click="vm.resetNewEventForm()" class="md-raised">
                    CANCEL
                </md-button>
            </div>
            <div>
                <md-button type="submit" class="md-icon-button md-primary" ng-disabled="!newEventForm.$valid">
                    <md-icon md-font-set="material-icons">add_circle</md-icon>
                </md-button>
            </div>
        </div>
    </div>
</form>


<div>
<form novalidate name="event.form" class="md-inline-form event-edit-form alternating" layout-gt-xs="row" layout="column" ng-repeat="event in vm.events">
    <div layout="column" flex="none" flex-xs="100" class="event-time-controls">
        <md-datepicker flex ng-model="event.startDate" md-placeholder="Enter date"
            md-min-date="vm.termLimits.minDate"
            md-max-date="vm.termLimits.maxDate"></md-datepicker>
        <md-input-container class="md-block" flex>
            <input ng-model="event.startTime" name="start" placeholder="Start Time" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/"></input>
            <div ng-messages="event.form.start.$error">
                <div ng-message-exp="['required']">Please enter a start time.</div>
                <div ng-message-exp="['pattern']">The start time must be of format HH:MM.</div>
            </div>
        </md-input-container>
    </div>
    <div layout="column" flex="none" flex-xs="100" class="event-time-controls">
        <md-datepicker flex ng-model="event.stopDate" md-placeholder="Enter date"
            md-min-date="vm.termLimits.minDate"
            md-max-date="vm.termLimits.maxDate"></md-datepicker>
        <md-input-container class="md-block" flex>
            <input ng-model="event.stopTime" name="stop" placeholder="Stop Time" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/"></input>
            <div ng-messages="event.form.stop.$error">
                <div ng-message-exp="['required']">Please enter a start time.</div>
                <div ng-message-exp="['pattern']">The start time must be of format HH:MM.</div>
            </div>
        </md-input-container>
    </div>
    <div layout="column" flex flex-xs="100">
        <md-autocomplete  flex
            md-input-name="hallField"
            md-min-length="3"
            md-selected-item="event.hall.selected"
            md-search-text="event.hall.searchText"
            md-items="item in event.hall.query(event.hall.searchText)"
            md-item-text="item.name"
            md-floating-label="Lecture Hall (optional)">
          <md-item-template>
            <span md-highlight-text="event.hall.searchText">{{item.name}}</span>
          </md-item-template>
        </md-autocomplete>
        <div flex layout="row" layout-align="end center" class="event-edit-controls">
            <div ng-if="event.saved && event.form.$pristine" class="saved-check-mark">
                <md-icon md-font-set="material-icons">done</md-icon>
            </div>
            <div>
                <md-button ng-click="vm.submitEvent(event)" class="md-raised md-primary" ng-disabled="!event.form.$valid || event.form.$pristine">
                    SAVE
                </md-button>
            </div>
            <div>
                <md-button ng-click="vm.deleteEvent(event)" class="md-icon-button">
                    <md-icon md-font-set="material-icons">delete</md-icon>
                </md-button>
            </div>
        </div>
    </div>
</form>
</div>
