.event-edit-form {
    &.alternating {
        &:nth-child(even) {
            background-color: #e5e5e5;
        }
    }
    &.new-event-form {
        background-color: rgb(177, 224, 220);
    }
    .event-time-controls {
        width: 200px;
    }
    &.ng-enter {
        transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        opacity: 0;
    }
    &.ng-enter.ng-enter-active {
        opacity: 1;
    }
    &.ng-leave {
        transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        opacity: 1;
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }

}

.md-subheader {
    button {
        position: absolute;
        right: 0px;
        top: -13px;
    }
    md-select {
        position: absolute;
        right: 0px;
        top: -9px;
        margin: 0;
    }
}

.saved-check-mark {
    md-icon {
        color: rgb(0,150,136);
    }
    &.ng-enter {
        transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        -webkit-transition: opacity 0.2s linear;
        opacity: 0;
    }
    &.ng-enter.ng-enter-active {
        opacity: 1;
    }
    &.ng-leave {
        transition: opacity 1s linear;
        -moz-transition: opacity 1s linear;
        -webkit-transition: opacity 1s linear;
        opacity: 1;
    }
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }
}

body.xs {
    .event-edit-form {
        height: 432px;
        .event-time-controls {
            width: auto;
        }
        &.ng-enter.ng-enter-active {
            height: 432px;
        }
    }
}
