<div class="headline">
    <div class="headline-title">Lecture Halls</div>
</div>
<div class="lecture-list">
    <md-button class="lecture-list-item" ui-sref="main.hall.view({id:hall.id})" ng-repeat="hall in vm.lectureHalls">
        <div class="item-text" layout="column">
            <h4>{{ hall.name }}</h4>
        </div>
    </md-button>
</div>
