<div id="text-container" class="text-container fullscreen-base" layout="row" layout-align="start stretch" ng-class="{l0: vm.ls.layout.dir === 0, l1: vm.ls.layout.dir === 1, fullscreen: vm.ls.layout.fullscreen}" ng-style="vm.ls.layout.styles.textContainer">
    <session-sidebar streams="vm.streams" session="vm.session" work-mode="vm.workMode" selected-stream-idents="vm.selectedStreamIdents" flex="nogrow"></session-sidebar>


    <div class="text-areas unselectable" flex layout="{{vm.ls.layout.textDir}}" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()">
        <div class="text-area" ng-class="{selectable: vm.workMode === 2}" ng-repeat="sd in vm.streamDatas" flex="{{vm.ls.layout.flex}}"  ng-style="$last ? vm.ls.layout.styles.textAreaLast : vm.ls.layout.styles.textArea">
            <div class="stream-controls" layout="row" layout-align="start center">
                <div flex="none">
                    <span class="stream-label">{{ sd.stream.label }}</span>
                </div>
                <div flex="none" layout="row" ng-show="vm.auth.isStaff() || vm.auth.isTranscriptCorrector()">
                    <div class="seperator"></div>
                    <md-button class="md-icon-button" ng-class="{active:sd.edit}" ng-click="vm.toggleEdit(sd)" aria-label="Correct transcript">
                        <md-icon md-font-set="material-icons">edit</md-icon>
                        <md-tooltip md-delay="200" md-direction="top">correct transcript</md-tooltip>
                    </md-button>
                    <div class="history-container" ng-attr-id="{{ 'history-container-parent-' + sd.stream.fingerprint }}" style="position:relative">
                        <md-button class="md-icon-button" ng-show="sd.edit" ng-class="{active:sd.history}" ng-click="vm.toggleHistory(sd)" aria-label="History">
                            <md-icon md-font-set="material-icons">history</md-icon>
                            <md-tooltip md-delay="200" md-direction="top">history</md-tooltip>
                        </md-button>
                        <div ng-attr-id="{{ 'history-container-' + sd.stream.fingerprint }}" class="history-dropdown-container" style="position:absolute;top:10px;left:200px"></div> 
                    </div>
                    <md-button class="md-icon-button" ng-show="sd.edit" ng-click="vm.saveEdits(sd)" aria-label="Save">
                        <md-icon md-font-set="material-icons">save</md-icon>
                        <md-tooltip md-delay="200" md-direction="top">save</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-if="vm.commitAllowed" ng-show="sd.edit" ng-click="vm.transferEdits(sd)" aria-label="Update transcript">
                        <md-icon md-font-set="material-icons">archive</md-icon>
                        <md-tooltip md-delay="200" md-direction="top">update transcript</md-tooltip>
                    </md-button>
                </div>
            </div>
            <session-editor ng-if="vm.auth.isStaff() || vm.auth.isTranscriptCorrector()" ng-show="sd.edit" session="vm.session" stream="{{::sd.stream}}" history="sd.history" trigger-save="sd.triggerSave" time="vm.time" time-setter="vm.timeSetter" play-callback="vm.playCallback" pause-callback="vm.pauseCallback" is-playing-getter="vm.isPlayingGetter" class="session-editor"></session-editor>
            <div ng-show="sd.commit !== null && !sd.edit" class="text-area-content" scroll-manager live="false" datas="sd.reducedData" pos="vm.pos" glued="vm.glued" anchor="vm.time" id-prefix="" id-attr="id" start-attr="mediaStart" stop-attr="mediaStop">
                <div class="span-container" ng-class="{edit:sd.edit}" dir="{{::sd.dir}}" lang="{{::sd.stream.fingerprint}}" ng-attr-contenteditable="{{ sd.edit }}" stream-text datas="sd.commit.data" filtered-data="sd.filteredData" editable="sd.edit" edit-done="vm.editDone(sd, text)" click="vm.onSpanSelect(data)" time="vm.time" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" slider-start="vm.sliderStart" slider-end="vm.sliderEnd">
                    <!--<span ng-repeat="data in ::sd.commit.data" id="dt{{::data.id}}" data-did="{{::data.start}}" data-cl="{{::data.class}}" ng-class="{playing: data.mediaStart <= vm.time && data.mediaStop > vm.time && vm.time > 0, selected: data.selected}" ng-bind-html="::data.text"></span>-->
                </div>
            </div>
            <div ng-show="sd.commit === null || sd.commitEdit" class="text-loading-area">
                 <md-progress-circular md-mode="indeterminate" class="md-hue-2" md-diameter="50px"></md-progress-circular>
            </div>
            <md-button class="md-fab md-primary md-mini scroll-down-button" ng-show="$index === vm.streamDatas.length - 1 && !vm.glued && sd.filteredData.length == 0 && !sd.edit" ng-click="vm.glue()" ng-style="vm.scrollButtonStyle">
                <md-icon md-font-set="material-icons">{{ vm.pos > vm.time && vm.time > -1 ? 'expand_less' : 'expand_more' }}</md-icon>
            </md-button>
            <!--<md-button class="md-primary md-raised edit-save-button" ng-show="sd.edit" ng-click="vm.saveEdit(sd)">
                save
            </md-button> -->
            <session-search-navi ng-style="vm.scrollButtonStyle" ng-show="sd.filteredData.length > 0 && !sd.edit" text="vm.text" datas="sd.reducedData" filtered-datas="sd.filteredData" pos="vm.pos" start-attr="mediaStart" text-attr="text"></session-search-navi>
        </div>
    </div>
</div>
