<div id="text-container" class="text-container fullscreen-base" layout="row" layout-align="start stretch" ng-class="{l0: vm.ls.layout.dir === 0, l1: vm.ls.layout.dir === 1, fullscreen: vm.ls.layout.fullscreen}" ng-style="vm.ls.layout.styles.textContainer">
    <session-sidebar streams="vm.streams" session="vm.session" work-mode="0" selected-stream-idents="vm.selectedStreamIdents" flex="nogrow"></session-sidebar>


    <div class="text-areas-live unselectable" flex layout="{{vm.ls.layout.textDir}}">
        <div class="text-area" ng-repeat="ds in vm.dataStreams" flex="{{vm.ls.layout.flex}}"  ng-style="$last ? vm.ls.layout.styles.textAreaLast : vm.ls.layout.styles.textArea">
            <div ng-if="ds.initialized" class="text-area-content" scroll-manager live="true" datas="ds.data[2]" pos="vm.pos" glued="vm.glued" anchor="-1" id-prefix="dt" id-attr="id" start-attr="mediaStart" stop-attr="mediaStop">
                <div class="anti-jitter-container">
                    <div id="data-live-text-container" class="span-container" ng-click="vm.onSpanSelect($event, ds)" dir="{{ds.dir}}" lang="{{ds.fingerprint}}">
                        <span ng-repeat="data in ::ds.data[0]" id="dt{{::data.id}}" data-did="{{::data.start}}" data-cl="{{::data.class}}" ng-bind-html="::data.text"></span>
                        <span ng-repeat="data in ds.data[1]" id="dt{{::data.id}}" data-did="{{::data.start}}" data-cl="{{data.class}}" ng-bind-html="data.text" ng-class="{temporary: data.temporary}"></span>
                    </div>
                </div>
            </div>
            <div ng-if="!ds.initialized" class="text-loading-area">
                 <md-progress-circular md-mode="indeterminate" class="md-hue-2" md-diameter="50px"></md-progress-circular>
            </div>
            <div class="language-show md-whiteframe-z2">{{ ds.label }}</div>
            <md-button class="md-fab md-primary md-mini scroll-down-button" ng-if="$index === vm.dataStreams.length - 1 && !vm.glued && ds.filteredData.length == 0" ng-click="vm.glue()" ng-style="vm.scrollButtonStyle">
                <md-icon md-font-set="material-icons">expand_more</md-icon>
            </md-button>
        </div>
    </div>

    <div class="emoji-container" ng-if="vm.emojiHandler.showEmoji" ng-bind-html="vm.emojiHandler.currentEmoji | emoji"></div>
</div>
