.unselectable {
    /* Disables selection of the text and therefore also copying */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.text-areas {
    .span-container {
        padding: 10px;
        position: relative;
        .box-sizing(border-box);
        > div {
            &::after {
                content: "";
                display: block;
                height: 1px;
                margin: 10px;
                background-color: #cecece;
            }
        }
        span.selected {
            background-color: #FFEB3B;
            padding: 2px 0 2px 2px;
            margin-left: -2px;
        }
        span.playing {
            background-color: #FF5722;
            color: white;
            padding: 2px 0 2px 2px;
            margin-left: -2px;
        }
        &.edit {
            border: 5px solid rgba(33, 150, 243, 0.31);
            border-top: none;
            border-bottom: none;
            padding: 10px 5px;
            background-color: rgba(33, 150, 243, 0.12);
        }
    }
    .stream-controls {
        z-index: 20;
        position: relative;
        top: 0;
        left: 0;
        width: fit-content;
        background-color: #DCDCDC;
        color: #009688;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        height: auto;
        min-height: 40px;
        font-weight: bold;
        .stream-label {
            padding: 0 10px;
        }
        .seperator {
            display: inline-block;
            height: 30px;
            width: 1px;
            background-color: #ccc;
            vertical-align: middle;
        }
        button {
            md-icon {
                color: #5A5A5A;
            }
            &:hover {
                md-icon {
                    color: darken(#5A5A5A, 20%);
                }
            }
            &.active {
                md-icon {
                    color: #FF5722;
                }
                &:hover {
                    md-icon {
                        color: #FF5722;
                    }
                }
            }
        }
    }
}

.text-areas-live {
    .span-container {
        padding: 10px;
        position: relative;
        .box-sizing(border-box);
        hr {
            display: block;
            height: 1px;
            margin: 7px 10px 8px 10px;
            border: none;
            background-color: #cecece;
        }
    }

    // Style of not yet final text elements in a live session
    .temporary {
        color: rgba(0, 0, 0, .4);
        font-style: italic;
    }
    .temporary-remove {
        transition: all 0.7s linear;
    }
}


session-data, session-data-live {
    position: relative;

    .history-container {
        position: relative;
    }

    .history-dropdown-container {
        position: absolute;
        top: 10px;
        left: 200px;
    }

    .span-container {
        padding: 10px;
        position: relative;
        .box-sizing(border-box);
        span[data-cl="1"] {
            background-color: red;
            color: white;
            padding: 2px 0 2px 2px;
            margin-left: -2px;
        }
        span[data-cl="2"] {
            background-color: blue;
            color: white;
            padding: 2px 0 2px 2px;
            margin-left: -2px;
        }
    }

    &.lid {
        span.orig {
            background-color: #FF5722;
            color: white;
            padding: 2px 0 2px 2px;
            margin-left: -2px;
        }
    }

    .text-container {
        position: relative;
        margin-bottom: 10px;
        .box-sizing(border-box);
        &.l1 {
            .text-area {
                border-left: none;
                border-bottom: none;
                &:last-child {
                    border-bottom: 1px solid #ccc;
                }
            }
        }
        &.l0 {
            .text-area {
                border-left: none;
            }
        }
        .emoji-container {
            position: absolute;
            top: 20px;
            right: 30px;
            height: 40px;
            width: 40px;
            border-radius: 20px;
            padding: 9px;
            background-color: white;
            .shadow(0 0 10px 5px; rgba(0,0,0,0.2));
            .box-sizing(border-box);

            &.ng-enter {
                transition: 0.2s linear all;
                right: -20px;
                opacity: 0.5;
            }
            &.ng-enter.ng-enter-active {
                right: 30px;
                opacity: 1;
            }
            &.ng-leave {
                transition:0.5s linear all;
                opacity:1;
            }
            &.ng-leave.ng-leave-active {
                opacity:0;
            }
        }
        .text-areas, .text-areas-live {
            height: 100%;
        }
        .text-area {
            display: flex;
            flex-flow: column;
            overflow: hidden;
            border: 1px solid #ccc;
            .box-sizing(border-box);
            position: relative;
            &.selectable {
                .span-container span {
                    &:hover {
                        background-color: rgba(255, 87, 34, 0.3);
                        padding: 2px 0 1px 2px;
                        margin-left: -2px;
                        cursor: pointer;
                        color: #3c3c3c;
                        box-shadow: 0 0 0px 1px #ff5722;
                    }
                }
            }
            &.faded {
                background-color: #dcdcdc;
            }
            .text-loading-area {
                position: absolute;
                height: 100%;
                min-height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0.7);
                z-index: 10;
                md-progress-circular {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -25px;
                    margin-top: -25px;
                }
            }
            .text-area-content {
                flex: 1;
                /* height: 100%; */
                overflow-y: auto;
                overflow-x: hidden;
                padding: 44px 0 0 0;
                margin-top: -44px;
                .box-sizing(border-box);
                .anti-jitter-container {
                    position: relative;
                }
            }
            .scroll-down-button {
                position: absolute;
                bottom: 15px;
            }
            .edit-save-button {
                position: absolute;
                bottom: 15px;
                left: 15px;
            }
            .language-show {
                position: absolute;
                top: 0;
                left: 0;
                width: auto;
                color: white;
                background-color: #009688;
                padding: 10px;
                height: auto;
                font-weight: 400;
            }
            .language-show-full {
                position: relative;
                color: white;
                background-color: #ff5722;
                padding: 10px;
                height: auto;
                font-weight: 400;
                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}

.session-editor {
    flex: 1;
    min-height: 0px;
}

// Fullscreen mode
div.fullscreen-base {
    background-color: white;
    position: relative;
    z-index: 100;
}
div.fullscreen {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
}
div.fullscreen-add,
div.fullscreen-remove,
div.fullscreen-add div.text-area,
div.fullscreen-remove div.text-area { // TODO transition on div.text-area not working
    transition: all 1s ease-in-out;
}
//div.fullscreen-base div.text-area { transition: all 1s ease-in-out; }
