<session-content-live ng-if="vm.session.active" session="vm.session" selected-stream-idents="vm.selectedStreams"></session-content-live>
<session-content ng-if="!vm.session.active" session="vm.session" selected-stream-idents="vm.selectedStreams"></session-content>
