.tree-children {
    padding-left: 0px;
}

.tree-item {
    width: 100%;
    .box-sizing(border-box);
    button {
        width: 100%;
        text-align: left;
        .box-sizing(border-box);
        display: block;
        margin: 0;
        text-transform: none;
        md-icon {
            color: #b7b7b7;
            &.dir-icon {

            }
            &.toggle-icon {
                margin-right: 5px;
                transition: transform 0.3s ease-in-out;
                -webkit-transition: -webkit-transform 0.3s ease-in-out;
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
            }
        }

    }
    &.empty {
        > button .dir-icon {
            margin-right: 29px;
        }
    }
    &.open {
        > button md-icon {
            &.toggle-icon {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
            }
        }
    }
    &.selected {
        > button {
            background-color: rgb(0, 150, 136) !important;
            color: white;
            md-icon {
                color: white;
            }
        }
    }
}
