<div class="tree-item" ng-class="{selected: vm.item.selected, open: vm.item.isOpen, empty: vm.item.node.numberOfChildren === 0}">
    <md-button ng-click="vm.toggleOpen()" ng-style="vm.style">
        <md-icon class="dir-icon" md-font-set="material-icons">folder</md-icon>
        <md-icon ng-if="vm.item.node.numberOfChildren > 0" class="toggle-icon" md-font-set="material-icons">arrow_drop_down</md-icon>
        {{ vm.item.node.name }}
    </md-button>
    <div class="tree-children" ng-if="vm.item.isOpen">
        <tree-item ng-repeat="item in vm.item.children" item="item" level="vm.level + 1" tree="vm.tree"></tree-item>
    </div>
</div>


