<form novalidate name="lecturerEditForm" ng-submit="vm.submit(lecturerEditForm.$valid)" class="md-inline-form">
    <div layout="column">
        <md-input-container flex>
            <label>Title</label>
            <input name="lecturerTitle" ng-model="vm.formData.title"></input>
        </md-input-container>
        <md-input-container flex>
            <label>Name</label>
            <input name="lecturerName" ng-model="vm.formData.name" required></input>
        </md-input-container>
        <md-input-container flex>
            <label>Associated Username</label>
            <input name="userName" ng-model="vm.formData.username"></input>
        </md-input-container>
    </div>
    <md-button type="submit" class="md-raised md-primary" ng-disabled="!lecturerEditForm.$valid">Save</md-button>
    <md-button class="md-raised" ng-click="vm.cancel()">Cancel</md-button>
</form>
