session-search {
    margin: 0px;
    font-size: 16px;
    .md-errors-spacer {
        display: none;
    }
    md-input-container:not(.md-input-invalid).md-input-focused > md-icon {
        color: inherit;
    }
    > div > div {
        font-size: 12px;
        padding-left: 20px;
    }
}


session-search-navi {
    background-color: #e0e0e0;
    //padding-right: 40px;
    border-radius: 47px;
    position: absolute;
    bottom: 21px;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
    margin-right: 8px;
    transition: all linear 0.1s;
    &.ng-hide-add-active {
        opacity: 0;
        margin-right: -150px;
    }
    &.ng-hide-add {
        opacity: 1;
        margin-right: 8px;
    }
    &.ng-hide-remove-active {
        opacity: 1;
        margin-right: 8px;
    }

    &.ng-hide-remove {
        opacity: 0;
        margin-right: -150px;
    }

    .md-fab {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
    }
    span {
        font-size: 10px;
    }
}
