<div layout="row" layout-align="start center">
    <md-input-container flex md-no-float class="md-block">
        <md-icon md-font-set="material-icons">search</md-icon>
        <input ng-model="vm.text" type="text" placeholder="search text">
    </md-input-container>
    <div flex="nogrow" ng-if="vm.text.length > 0">
        <md-button aria-label="clear search" class="md-icon-button" ng-click="vm.text = ''">
            <md-icon md-font-set="material-icons">clear</md-icon>
            <md-tooltip md-delay="200" md-direction="top">clear</md-tooltip>
        </md-button>
    </div>
</div>
