
<md-button aria-label="previous search result" class="md-icon-button" ng-click="vm.goToPrev()" ng-disabled="vm.filteredDatas.length === 0">
    <md-icon md-font-set="material-icons">expand_less</md-icon>
</md-button>
<span>{{ vm.index + 1 }} / {{ vm.filteredDatas.length }}</span>
<md-button aria-label="next search result" class="md-icon-button" ng-click="vm.goToNext()" ng-disabled="vm.filteredDatas.length === 0">
    <md-icon md-font-set="material-icons">expand_more</md-icon>
</md-button>
