
<md-dialog aria-label="Edit node tags">
    <form ng-cloak name="tagsEditForm" ng-submit="vm.submit(tagsEditForm)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Node Tags</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex>
                    <tag-select name="tags" ng-model="vm.tags" md-autofocus="true"></tag-select>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" type="submit" title="Confirm Tags Edit" ng-disabled="!tagsEditForm.$valid || tagsEditForm.$pristine">
                Save
            </md-button>
            <md-button class="md-raised md-primary" title="cancel" ng-click="vm.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
