<div class="streamview">
    <div class="headline">
        <div class="headline-title">
            {{ vm.session.printTitle }}
            <span class="secondary" ng-if="vm.session.event !== null">{{ vm.session.event.start | date : "dd.MM.yyyy HH:mm"}} - {{ vm.session.event.stop | date : "HH:mm"}}</span>
        </div>
        <md-menu class="headline-controls" ng-if="vm.session.event !== null">
            <md-button aria-label="Select languages" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <md-icon md-font-set="material-icons">info_outline</md-icon>
                <md-tooltip md-delay="200" md-direction="top">lecture infos</md-tooltip>
            </md-button>
            <md-menu-content>
                <md-menu-item ng-repeat="lecturer in vm.session.event.lectureTerm.lecturers">
                    <md-button ui-sref="main.lecturer.view({id: lecturer.id})"><md-icon md-font-set="material-icons">account_circle</md-icon>{{ lecturer.fullName }}</md-button>
                </md-menu-item>
                <md-menu-item ng-if="vm.session.event.lectureHall !== null">
                    <md-button ui-sref="main.hall.view({id: vm.session.event.lectureHall.id})"><md-icon md-font-set="material-icons">place</md-icon>{{ vm.session.event.lectureHall.name }}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <div class="headline-controls">
            <md-button class="md-primary md-raised" ng-if="vm.auth.authenticated && vm.auth.isStaff()" ui-sref="main.session.details({s: vm.session.id})" ui-sref-active="hidden">Worker</md-button>
            <md-button class="md-primary md-raised" ng-if="vm.session.event !== null && vm.auth.authenticated && vm.auth.isStaff()" ui-sref="main.event.sessions({id: vm.session.event.id})">Edit</md-button>
        </div>
    </div>
    <session-search ng-if="!vm.session.active" text="vm.searchText"></session-search>
    <session-player ng-if="vm.mediaInitialized && vm.session.media.hasMedia()" session="vm.session" text="vm.searchText" time-getter="vm.time" time-setter="vm.setTime" set-playing-getter="vm.setPlayingGetter" slider-start="vm.sliderStart" slider-end="vm.sliderEnd" set-play-callback="vm.setPlayCallback" set-pause-callback="vm.setPauseCallback" set-time-setter-callback="vm.setTimeSetterCallback"></session-player>
    <session-data session="vm.session" time="vm.time" time-setter="vm.timeSetterCallback" play-callback="vm.playCallback" pause-callback="vm.pauseCallback" is-playing-getter="vm.isPlayingGetter" selected-stream-idents="vm.selectedStreamIdents" on-select-data="vm.selectDataHandler(data)" text="vm.searchText" slider-start="vm.sliderStart" slider-end="vm.sliderEnd"></session-data>
    <event-nodes ng-if="vm.session.event !== null" event="vm.session.event" read-only="!vm.session.event.canUpload"></event-nodes>
    <div style="height: 500px"></div>
</div>
