<div class="file-path">
    <span ng-repeat="node in vm.path">
        <a ng-if="$index < vm.path.length - 1" ui-sref="main.files({node: node.id})">{{ node.label }}</a>
        <span ng-if="$index === vm.path.length - 1">{{ node.label }}</span>
        <md-icon ng-if="$index < vm.path.length - 1" md-font-set="material-icons">chevron_right</md-icon>
    </span>
</div>
