.file-path {
    height: 22px;
    a {
        text-decoration: none;
        color: inherit;
        padding: 3px 5px;
        border: 1px solid #ddd;
    }
    span > span {
        padding: 3px 6px;
        display: inline-block;
    }
    md-icon {
        font-size: 22px;
        color: #bbb;
    }
}
