<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 flex md-truncate>Files</h2>

        <md-button ng-if="!vm.readOnly && vm.selectedNodes.length > 0" class="md-icon-button" aria-label="Delete Selected Files" ng-click="vm.deleteSelected()">
            <md-icon md-font-set="material-icons">delete</md-icon>
        </md-button>

        <md-button ng-if="!vm.readOnly" class="md-icon-button" aria-label="Upload Files" ng-click="vm.startUpload()">
            <md-icon md-font-set="material-icons">file_upload</md-icon>
        </md-button>
    </div>
</md-toolbar>

<div class="node-list">
    <div ng-if="vm.nodes.length === 0" class="placeholder">
        <span>No Files Uploaded</span>
    </div>
    <table ng-if="vm.nodes.length > 0">
        <colgroup>
            <col width="50px"></col>
            <col width="*"></col>
            <col width="130px"></col>
            <col width="70px"></col>
            <col width="150px"></col>
        </colgroup>
        <thead>
            <tr class="noselect">
                <th></th>
                <th class="sortable" ng-class="{selected: vm.currentOrder.type === 'name', ascending: vm.currentOrder.isAscending}" ng-click="vm.sort('name')">Name</th>
                <th class="sortable" ng-class="{selected: vm.currentOrder.type === 'date', ascending: vm.currentOrder.isAscending}" ng-click="vm.sort('date')">Upload Date</th>
                <th class="sortable" ng-class="{selected: vm.currentOrder.type === 'size', ascending: vm.currentOrder.isAscending}" ng-click="vm.sort('size')">Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in vm.nodes" class="noselect" ng-click="vm.select($event, node)" ng-class="{selected: node.selected}">
                <td class="file-icon-cell">
                    <md-icon class="file-icon file" md-font-set="material-icons">description</md-icon>
                </td>
                <td>
                    {{ node.name }}
                </td>
                <td>{{ node.created | date:'yyyy-MM-dd HH:mm' }}</td>
                <td>
                    <span>{{ node.size | fileSize }}</span>
                </td>
                <td class="file-controls">
                    <md-button aria-label="Download File" class="md-icon-button" ng-click="vm.download(node)">
                        <md-icon md-font-set="material-icons">file_download</md-icon>
                    </md-button>
                    <md-menu ng-if="!vm.readOnly">
                        <md-button aria-label="Open context menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                            <md-icon md-font-set="material-icons">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="vm.rename(node)">
                                    <md-icon md-font-set="material-icons">edit</md-icon>
                                    Rename
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.deleteNode(node)">
                                    <md-icon md-font-set="material-icons">delete</md-icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>
