.lecture-list {
    .md-button {
        display: block;
        background-color: transparent;
        height: auto;
        min-height: auto;
        .border-radius(0);
        padding: 10px;
        font-size: 1em;
        min-height: auto;
        margin: 0;
        width: 100%;
        text-align: left;
        border-bottom: 1px dashed #ddd;
        text-transform: none;
        &:last-child {
            border-bottom: none;
        }
        &.active, &.active:not([disabled]):hover {
            background-color: #009688;
            color: white;
            md-icon {
                color: #FFC107;
            }
        }
        &:not([disabled]):hover {
            background-color: #B2DFDB;
            //color: inherit;
        }
        h4 {
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            .secondary {
                font-size: 12px;
                margin-left: 5px;
            }
        }
        .item-text {
            line-height: 20px;
            white-space: normal;
            padding-right: 80px;
            .secondary {
                color: rgb(150,150,150);
            }
        }

        .session-counter {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 10px;
            line-height: 14px;
            color: rgb(150,150,150);
            &.populated {
                color: #009888;
            }

        }

        .session-auth {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
        md-progress-circular {
            position: absolute;
            right: 5px;
            bottom: 5px;
        }
    }
}


.lecture-item-list {
    > .md-button {
        text-transform: none;
        md-icon {
            color: #009688;
        }
    }
}


.headline {
    .session-auth {
        position: absolute;
        right: 0;
        top: 5px;
    }
}
