.schedule-event-item {
    md-errors-spacer {
        display: none;
    }
    padding: 10px 0;

    .schedule-event-controls {
        .md-button {
            margin: 0;
            width: 100%;
            height: 100%;
            .border-radius(0);
            .box-sizing(border-box);
            background-color: rgb(229, 229, 229);
            &:not([disabled]).md-icon-button:hover {
                background-color: darken(rgb(229, 229, 229), 10%);
            }
            &:last-child {
                margin-top: 5px;
            }
            .md-ripple-container {
                .border-radius(0);
            }
        }
    }
}
