<div class="headline">
    <div class="headline-title">Session Scheduler</div>
</div>
<form novalidate name="scheduleForm" ng-submit="vm.send(scheduleForm.$valid)" class="md-inline-form">
    <md-subheader class="md-no-sticky">Lecture Information</md-subheader>
    <div layout-xs="column" layout="row">
        <md-autocomplete flex required="true"
            md-min-length="0"
            md-input-name="titleField"
            md-selected-item="vm.lecture.autocomp.selected"
            md-search-text="vm.lecture.autocomp.searchText"
            md-search-text-change="vm.searchLectureChange()"
            md-selected-item-change="vm.selectedLectureChange()"
            md-items="item in vm.lecture.autocomp.query(vm.lecture.autocomp.searchText)"
            md-item-text="item.title"
            md-floating-label="Title">
            <md-item-template>
                <span md-highlight-text="vm.lecture.autocomp.searchText">{{item.title}}</span>
                <span class="secondary">{{item.slug}}</span>
            </md-item-template>
            <div ng-messages="scheduleForm.titleField.$error" ng-if="scheduleForm.titleField.$touched">
                <div ng-message-exp="['required']">Please enter a title.</div>
            </div>
        </md-autocomplete>
        <md-input-container class="md-block" flex ng-if="vm.lecture.autocomp.selected === null">
            <label>Slug</label>
            <input md-maxlength="20" name="slug" ng-model="vm.lecture.slug" ng-model-options="{ debounce: 200 }" ng-pattern="/^[a-zA-Z0-9\-\_]+$/" required slug-unique></input>
            <div ng-messages="scheduleForm.slug.$error">
                <div ng-message-exp="['required']">Please enter a slug.</div>
                <div ng-message-exp="['md-maxlength', 'pattern']">The slug must be maximum 20 characters long and contain only letters, numbers, underscores or hyphens.</div>
                <div ng-message="slugUnique">This slug already exists!</div>
            </div>
            <div ng-if="scheduleForm.slug.$valid" class="input-success">
                <md-icon md-font-set="material-icons">check</md-icon>
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex ng-if="vm.lecture.autocomp.selected !== null">
            <label>Slug</label>
            <input md-maxlength="20" name="slugtemp" ng-model="vm.lecture.slug" ng-disabled="true"></input>
        </md-input-container>
    </div>
    <div layout-xs="column" layout="row">
        <md-input-container class="md-block no-padding" flex>
            <label>Password (optional)</label>
            <input type="{{ vm.details.passwordVisible ? 'text' : 'password' }}" name="password" ng-model="vm.details.password"></input>
            <md-button tabindex="-1" class="md-icon-button password-show" ng-click="vm.togglePasswordVisibility()">
                <md-icon md-font-set="material-icons">{{ vm.details.passwordVisible ? 'visibility' : 'visibility_off' }}</md-icon>
            </md-button>
        </md-input-container>
        <div flex layout="row">
            <md-input-container class="md-block no-padding" flex>
                <label>Lecturers</label>
                <md-select ng-model="vm.details.lecturers.selected" multiple>
                    <md-option ng-value="lecturer.id" ng-repeat="lecturer in vm.details.lecturers.all">{{lecturer.fullName}}</md-option>
                </md-select>
            </md-input-container>
            <md-button ng-click="vm.openLecturerCreateDialog()" class="md-icon-button button-inline-form">
                <md-icon md-font-set="material-icons">add_circle</md-icon>
            </md-button>
        </div>
    </div>
    <md-input-container class="md-block">
        <label>Description (optional)</label>
        <textarea name="description" ng-model="vm.details.description"></textarea>
    </md-input-container>
    <md-input-container class="md-block">
        <label>Fingerprint</label>
        <input md-maxlength="200" name="fingerprint" ng-model="vm.timespan.fingerprint"></input>
    </md-input-container>
    <md-subheader class="md-no-sticky">Time Period</md-subheader>
    <div layout="row" layout-xs="column" layout-align="center stretch">
        <md-input-container class="md-block" flex-xs="100" flex="50">
            <label>Term Name</label>
            <input md-maxlength="50" name="term" ng-model="vm.timespan.termName" ng-model-options="{ debounce: 200 }" ng-pattern="/^[a-zA-Z0-9\-\_]+$/" required term-unique="{{ vm.lecture.slug }}" ng-disabled="!vm.lecture.slug"></input>
            <div ng-messages="scheduleForm.term.$error">
                <div ng-message-exp="['required']">Please enter a valid Term name (a-z,A-Z,0-9,-,_) max 50 characters.</div>
                <div ng-message-exp="['md-maxlength', 'pattern']">Please enter a valid Term name (a-z,A-Z,0-9,-,_) max 50 characters.</div>
                <div ng-message="termUnique">This term for this lecture already exists!</div>
            </div>
            <div ng-if="scheduleForm.term.$valid" class="input-success">
                <md-icon md-font-set="material-icons">check</md-icon>
            </div>
        </md-input-container>
        <div flex-xs="100" flex="50" layout="row" layout-xs="column">
            <md-datepicker flex-xs="100" flex="50" ng-model="vm.timespan.startDate" md-placeholder="Enter date"></md-datepicker>
            <md-datepicker flex-xs="100" flex="50" ng-model="vm.timespan.endDate" md-placeholder="Enter date" md-min-date="vm.timespan.startDate"></md-datepicker>
        </div>
    </div>
    <md-subheader class="md-no-sticky">Events</md-subheader>
    <div layout="row" class="schedule-event-item" ng-repeat="event in vm.events">
        <div layout="row" layout-xs="column" flex>
            <md-autocomplete  flex-xs="100" flex="35"
                md-input-name="hallField"
                md-min-length="3"
                md-selected-item="event.hall.selected"
                md-search-text="event.hall.searchText"
                md-items="item in event.hall.query(event.hall.searchText)"
                md-item-text="item.name"
                md-floating-label="Lecture Hall (optional)">
              <md-item-template>
                <span md-highlight-text="event.hall.searchText">{{item.name}}</span>
              </md-item-template>
            </md-autocomplete>
            <md-input-container class="md-block"  flex-xs="100" flex="35">
                <label>Day of the Week</label>
                <md-select ng-model="event.day" md-container-class="sel1">
                    <md-option ng-repeat="day in vm.daysOfWeek" value="{{day}}">
                    {{day}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div layout="row" flex-xs="100" flex="30">
                <md-input-container class="md-block" flex="50">
                    <input ng-model="event.start" name="start{{$index}}" placeholder="Start Time" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/"></input>
                    <div ng-messages="scheduleForm['start' + $index].$error">
                        <div ng-message-exp="['required']">Please enter a start time.</div>
                        <div ng-message-exp="['pattern']">The start time must be of format HH:MM.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                    <input ng-model="event.stop" name="stop{{$index}}" placeholder="End Time" required ng-pattern="/^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$/"></input>
                    <div ng-messages="scheduleForm['stop' + $index].$error">
                        <div ng-message-exp="['required']">Please enter a start time.</div>
                        <div ng-message-exp="['pattern']">The start time must be of format HH:MM.</div>
                    </div>
                </md-input-container>
            </div>
        </div>
        <div layout="column" class="schedule-event-controls">
            <md-button flex ng-if="vm.events.length > 1" ng-click="vm.deleteEvent(event)" class="md-icon-button">
                <md-icon md-font-set="material-icons">delete</md-icon>
            </md-button>
            <md-button flex ng-if="$last" ng-click="vm.addEvent()" class="md-icon-button">
                <md-icon md-font-set="material-icons">add_circle</md-icon>
            </md-button>
        </div>
    </div>
    <md-input-container class="md-block" flex>
        <md-checkbox ng-model="vm.details.archive">
            Make this lecture available offline
        </md-checkbox>
    </md-input-container>
    <md-input-container class="md-block" flex>
        <md-checkbox ng-model="vm.details.mediaAccess" ng-disabled="!vm.details.archive">
            Grant full media access to everyone
        </md-checkbox>
    </md-input-container>
    <md-button type="submit" class="md-raised md-primary" ng-disabled="!scheduleForm.$valid">Submit</md-button>
</form>
