<form novalidate name="lectureHallEditForm" ng-submit="vm.submit(lectureHallEditForm.$valid)" class="md-inline-form">
    <div layout="column">
        <md-input-container flex>
            <label>Name</label>
            <input name="lectureHallName" ng-model="vm.formData.name" required></input>
        </md-input-container>
    </div>
    <md-button type="submit" class="md-raised md-primary" ng-disabled="!lectureHallEditForm.$valid">Save</md-button>
    <md-button class="md-raised" ng-click="vm.cancel()">Cancel</md-button>
</form>
