{% load staticfiles %}
{% load socketiotags %}
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppController" <% if (strict) { %>ng-strict-di<% } %>>
  <head>

    <meta charset="utf-8">
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <!-- compiled CSS --><% _.forEach(cssFiles, function(file) { %>
    <link rel="stylesheet" type="text/css" href="{% static '<%- file %>' %}"></link><% }); %>
    <script>
        var $buoop = {vs:{i:11,f:25,o:12.1,s:7},c:2, reminder:1};
        function $buo_f(){
         var e = document.createElement("script");
         e.src = "//browser-update.org/update.min.js";
         document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script>
        if (!window.console || !window.console.log) {
            window.console = {};
            window.console.log = function() {};
        }

        var WEBSOCKET_URL = "{{ websocket_url }}";
        var EDITOR_WEBSOCKET_URL = "{{ editor_websocket_url }}";
        var EDITOR_ALLOW_COMMIT = {% if editor_allow_commit %}true{% else %}false{% endif %};
        var BACKCHANNEL = {% if backchannel %}true{% else %}false{% endif %};
        var EMOJI_ENABLED = {% if emoji_enabled %}true{% else %}false{% endif %};
        var LINKS_ENABLED = {% if links_enabled %}true{% else %}false{% endif %};
        var LIMIT_STREAMS = JSON.parse('{{ limit_streams }}');

        var IE = (function () {
            var ua = window.navigator.userAgent;
            if (ua.indexOf("Trident/7.0") > 0) {
                return 11;
            } else if (ua.indexOf("Trident/6.0") > 0) {
                return 10;
            } else if (ua.indexOf("Trident/5.0") > 0) {
                return 9;
            }
            return 0;
        })();
    </script>
    {% js_io_vars %}

    <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
    <!-- compiled JavaScript --><% _.forEach(jsFiles, function(file) { %>
    <script type="text/javascript" src="{% static '<%- file %>' %}"></script><% }); %>
    <script>
      videojs.options.flash.swf = "{% static 'assets/swf/video-js.swf' %}"
    </script>
  </head>

  <body layout="column" layout-align="start center" ui-view="main-body" ng-class="{xs: $mdMedia('xs') && !IE, sm: $mdMedia('sm') && !IE, md: $mdMedia('md') && !IE, lg: $mdMedia('lg') && !IE, xl: $mdMedia('xl') && !IE}" ng-focus="onFocus()">


  </body>
</html>
