<div class="headline">
    <div class="headline-title">Lecturers</div>
</div>
<div class="lecture-list">
    <md-button class="lecture-list-item" ui-sref="main.lecturer.view({id:lecturer.id})" ng-repeat="lecturer in vm.lecturers">
        <div class="item-text" layout="column">
            <h4>{{ lecturer.fullName }}</h4>
        </div>
    </md-button>
</div>
