body.xs, body.sm {
    .main-area {
        border-width: 0;
        .shadow(none);
        .border-radius(0px);
    }
    .content-wrapper {
        padding: 0px;
    }
    .content {
        .border-radius(0px);
    }
    .footer {
        background-color: #4D4D4D;
        .footnote {
            color: white;
        }
    }

    md-sidenav {
        background-color: @frameBgColor;
        padding-right: 0px;
        padding-top: 0px;
        .side-menu {
            .md-button {
                border-bottom-right-radius: 0px;
                margin-bottom: 0px;
                line-height: 3.5em;
                margin-top: 0;
            }
            .expand-container {
                .expand-items {
                    .border-bottom-right-radius(0px);
                }
            }
        }

    }

    #banner {
        height: 55px;
        padding:  5px 20px;
        text-align: right;
    }

    .partner-links {
        width: auto;
        padding: 0 12px 0 12px;
        md-grid-tile {
            text-align: center;
        }
    }

    #kit-logo {
        width: 30%;
        margin: 0;
    }

    #int-logo {
        width: 60%;
        margin: 0;
    }

    #cmu-logo {
        width: 65%;
        margin: 0;
    }

    #eb-logo {
        width: 70%;
        margin: 0;
    }
}

body.rsp0, body.rsp1 {

    /**
     *
     *  LAYOUT
     *
     */

    .main-row {
        padding-bottom: 30px;
    }

    .bottom-row {
        height: 30px;
        margin-top: -30px;
    }

    /* TOPLINKS */
    .top-links {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
    }


    .top-login {
        position: absolute;
        top: 2px;
        left: 0;
        z-index: 5;
    }

    /* MAIN AREA */
    .main-area {
        border-width: 0;
        .shadow(none);
        .border-radius(0px);
    }

    /* HEADER */


    .header-table {
        .border-top-right-radius(0px);
    }

    #banner {
        .border-top-right-radius(0px);
        .banner-img-wrapper {
            padding: 0 20px 10px 20px;
        }
    }

    /* SPLITTER (Sidebar / Content) */
    .splitter {
        overflow: hidden;
        clear: both;

        .split-view {
            display: block;
        }
        .content-col {
            padding-left: 10px;
        }
        .sidebar-col {
            position: absolute;
            left: 0;
            top: 0;
            width: 180px;
            height: 100%;
            z-index: 2;
            background-color: white;
            .shadow(0 0 10px 5px; rgba(0,0,0,0.2));
            border-collapse: separate;
            &.ng-enter {
                transition: 0.2s linear left;
                left: -180px;
            }
            &.ng-enter.ng-enter-active {
                left: 0px;
            }
            &.ng-leave {
                transition: 0.2s linear left;
                left: 0px;
            }
            &.ng-leave.ng-leave-active {
                left: -180px;
            }
        }
    }

    .mobile-controls {
        a.button {
            float: right;
        }
    }

    /* SIDEBAR (Menu) */
    .side-menu {
        a {
            background-color: @frameBgColor;
            border-color: @frameBgColor;

            &.active {
                border-color: @naviColor;
                background-color: @naviColor;
                color: white;
            }
        }
    }

    .quick-record {
        margin: 20px;
        position: relative;
        button {
            width: 100%;
            margin-top: -1px;
            padding: 5px 10px;
            height: auto;
            &:first-child {
                margin-top: 0;
            }
            i {
                font-size: 20px;
            }
        }
        .overlay {
            position: absolute;
            z-index: 20;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            background-color: rgba(255,255,255,0.8);
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -5px;
                margin-left: -8px;
            }
        }
    }


    /* CONTENT */
    .content {
        min-height: inherit;
    }

    /* FOOTNOTE */
    .footnote {
        font-size: .6427em;
        position: relative;
        z-index: 20;
        width: 100%;
        background-color: #4D4D4D;
        color: white;
        height: 100%;
        padding-left: 10px;
        padding-top: 4px;
        .box-sizing(border-box);
        line-height: 1.2em;
        > span {
            margin-left: 0px;
        }
    }



    /* CONTACT */

    .contact-form-table {
        display: block;
    }

    .contact-form-table-col {
        display: block;
        padding-left: 0px;
        margin-top: 5px;
        &:first-child {
            width: 100%;
            margin-top: 0px;
        }
    }
}


body.rsp0 {
    .header-table {
        tr {
            display: table-cell;
            border-bottom: 2px solid white;
        }

        th {
            display: block;
            text-align: left;
            padding: 0px;
            height: 45px;
            border-bottom: none;

            &.main-logo-col {
                width: 100%;
                padding-left: 0px;
                padding-top: 5px;
                a {
                    margin: 0;
                    padding: 0;
                    img {
                        max-height: 100%;
                        .box-sizing(border-box);
                        margin: 0;
                        padding: 0 3px;
                    }
                }
            }

            &.banner-col {
                overflow: hidden;
            }
        }
    }

    #banner {
        height: 100%;

        .banner-img-wrapper {
            height: 100%;
            padding: 5px;
            .box-sizing(border-box);
            img {
                height: 100%;
            }
        }
    }

    #kit-logo {
        width: 15%;
        margin: 0;
    }

    #int-logo {
        width: 29%;
        margin: 0;
    }

    #cmu-logo {
        width: 23%;
        margin: 0;
        margin-bottom: 6px;
    }

    #eb-logo {
        width: 29%;
        margin: 0;
    }

}
