
/**
 *
 *  LAYOUT
 *
 */

md-content {
    //background-color: transparent;
}

.outer-frame {
    min-height: 100%;
    max-width: 1100px !important;
    width: 100%;
    //margin: auto;
}

.top-row {
    position: relative;
    z-index: 4;
    height: 25px;
}

.main-row {
    min-height: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: -25px;
    .box-sizing(border-box);
}


.bottom-row {
    position: relative;
    z-index: 4;
    height: 20px;
    margin-top: -20px;
}


.width-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


table.md-table td.md-cell {
    p {
        font-size: 11px;
        color: rgb(150,150,150);
    }
    h3 {
        font-size: 12px;
        font-weight: normal;
    }
    .md-button {
        font-size: 11px;
    }
}

md-list-item.md-2-line {
    border-bottom: 1px solid rgb(230,230,230);
    min-height: 40px;
    .md-list-item-text {
        p {
            font-size: 1em;
            color: rgb(150,150,150);
        }
        h3 {
            font-size: 1.2em;
        }

    }
}

/* TOPLINKS */

.top-links {
    float: right;
    text-align: right;
    font-size: .9091em;
    line-height: 2.5455em;
    padding-right: 19px;

    > a {
        color: #4D4D4D;
        text-decoration: none;
        margin: 0;
        padding: 0 3px 0 5px;
        border-left: 1px solid #d9d9d9;
        &:first-child {
            border-left-width: 0px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.top-login {
    float: left;
    margin-left: 10px;
    > a {
        font-size: .9091em;
        line-height: 2.5455em;
        text-decoration: none;
        margin: 0;
        padding: 0 3px 0 5px;
        border-left: 1px solid #d9d9d9;
        &:first-child {
            border-left-width: 0px;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}


.top-record {
    .fa-circle {
        color: #C83232;
    }
    .fa-pause {
        color: #009682;
    }
}

/* MAIN AREA */

.main-area {
    position: relative;
    background-color: @frameBgColor;
    border: 2px solid white;
    color: rgb(60,60,60);
    .box-sizing(border-box);
    .shadow(0 0 10px 5px, rgba(0,0,0,0.2));
    border-collapse: separate;
    .border-top-right-radius(15px);
    .border-bottom-left-radius(15px);
    overflow: hidden;

    > table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }
}

.menu-button-container {
    padding-top: 24px;
    padding-left: 0px;
    .md-button.md-primary:not([disabled]) md-icon {
        color: white;
    }
}

/* HEADER */

.title-row {
    border-spacing: 0px;
    z-index: 3;
    //background-image: url('/static/assets/images/tafel_hg.jpg');
    background-color: #009688;
    background-size: cover;
    height: 95px;
    .partner-links {
        text-align: center;
    }

    //.border-top-right-radius(15px);
    md-content {
        background-color: transparent;
    }
    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        th {
            text-align: left;
            padding: 0px;
            height: 90px;
            border-bottom: 2px solid white;

            &.main-logo-col {
                width: 320px;
                padding-left: 10px;
                padding-top: 5px;
                a {
                    margin: 0 10px;
                }
            }

            &.banner-col {
                overflow: hidden;
            }
        }
    }

}

.title {
    color: black;
    background-color: white;
    .border-top-right-radius(15px);
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.0909em;

    > a {
        color: inherit;
        text-decoration: none;
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}


#banner {
    position: relative;
    height: 95px;
    padding:  15px 20px 10px 35px;
    .box-sizing(border-box);

    img {
        max-width: 100%;
        min-width: 150px;
        max-height: 95%;
    }

}


.partner-links {
    width: 310px;
    padding: 12px 12px 0 0;
}

#kit-logo {
    width: 80px;
    margin-left: 35px;
}

#int-logo {
    width: 150px;
}

#cmu-logo {
    width: 120px;
    margin-bottom: 0px;
}

#eb-logo {
    width: 150px;
}






/* CONTENT */

.content-wrapper {
    padding: 8px;
}

.middle-content {
    background-color: @frameBgColor;
}


/* SPLITTER (Sidebar / Content) */

.splitter {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    .split-view {
        display: table-cell;
        height: 100%;
        vertical-align: top;
    }

    .sidebar-col {
        width: 180px;
    }
}


/* SIDEBAR (Toggle button) */

.sidebar-toggle-button {
    margin: 0 0 10px 0px;
}

#sidebar {
    .sidebar-toggle-button {
        margin-left: 10px;
    }

}


/* SIDEBAR (Menu) */

md-sidenav{
    background-color: transparent;
    //padding: 8px 0px 8px 0;
    width: 200px;

    .side-menu {
        md-icon {
            font-size: 24px;
            margin-right: 10px;
        }
        .md-button {
            display: block;
            background-color: white;
            height: auto;
            min-height: auto;
            .border-radius(0);
            .border-bottom-right-radius(5px);
            margin-bottom: 5px;
            overflow: hidden;
            padding: 2px 2px 2px 10px;
            font-size: 1em;
            line-height: 3em;
            min-height: auto;
            margin: 0;
            width: 100%;
            margin-top: 8px;
            text-align: left;
            &.active, &.active:not([disabled]):hover {
                background-color: #009688;
                color: white;
                md-icon {
                    color: white;
                }
            }
            &:not([disabled]):hover {
                background-color: #B2DFDB;
                //color: inherit;
            }

        }
        .expand-container {
            position: relative;
            > .md-button {
                position: relative;
                &:disabled {
                    .toggle-icon {
                        color: rgba(0,0,0,0.38);
                    }
                }
            }
            .toggle-icon {
                position: absolute;
                top: 5px;
                right: 0;
                color: #009688;
                transition: transform 0.3s ease-in-out;
                -webkit-transition: -webkit-transform 0.3s ease-in-out;
            }
            &.expanded {
                .toggle-icon {
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                }
                > .md-button {
                    .border-radius(0);
                }
            }
            .expand-items {
                position: relative;
                overflow: hidden;
                background-color: white;
                &.ng-enter {
                    -webkit-transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);
                    -webkit-transition-property: height;
                    -moz-transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);
                    -moz-transition-property: height;
                    transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);
                    transition-property: height;
                    height: 0px;
                }
                &.ng-enter.ng-enter-active {
                    height: 102px;
                }
                &.ng-leave {
                    -webkit-transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);
                    -webkit-transition-property: height;
                    -moz-transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);
                    -moz-transition-property: height;
                    transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);
                    transition-property: height;
                    height: 102px;
                }
                &.ng-leave.ng-leave-active {
                    height: 0px;
                }
                .border-bottom-right-radius(5px);
                .md-button {
                    margin-top: 0;
                    padding-left: 44px;
                    .border-radius(0);
                }
            }
        }
    }

}

.side-menu {
    font-size: .9091em;
    font-weight: bold;

    /*a {
        display: block;
        background-color: white;
        color: @brightTextColor;
        padding: 2px 2px 2px 20px;
        .border-bottom-right-radius(5px);
        border: 2px solid white;
        border-left-width: 0px;
        margin: 4px 0;
        text-decoration: none;

        &.active {
            background-color: @naviColor;
            color: white;
        }

        &:hover {
            text-decoration: underline;
        }

        &:first-child {
            margin-top: 0;
        }
    }*/
}

.quick-record {
    margin: 20px;
    position: relative;
    button {
        width: 100%;
        margin-top: -1px;
        padding: 5px 10px;
        height: auto;
        &:first-child {
            margin-top: 0;
        }
        i {
            font-size: 20px;
        }
    }
    .overlay {
        position: absolute;
        z-index: 20;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(255,255,255,0.8);
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -5px;
            margin-left: -8px;
        }
    }
}

/* CONTENT */

.content-col {
    padding: 10px 10px 10px 0;
}

.content {
    position: relative;
    background-color: white;
    padding: 10px;
    padding-bottom: 30px;
    .border-top-right-radius(15px);
    .box-sizing(border-box);
}

/* FOOTNOTE */

.footnote {
    font-size: .8181em;
    color: #4D4D4D;
    overflow: hidden;

    > span {
        margin-left: 20px;
    }

    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
            color: inherit;
        }
    }
}






/* INDEX */

.update-note {
    padding: 10px;
    background-color: #ffb531;
}

.welcome-title {
    text-align: center;
    > div {
        width: 100%;
        background-color: #009688;
        background-image: url('/static/assets/images/microphones.png');
        background-size: 860px;
        background-position-y: -125px;
        text-align: center;
        padding-top: 240px;
        .border-top-right-radius(7px);
    }
    margin-bottom: 20px;
    h1 {
        margin-top: 10px;
        border-bottom: none;
        font-weight: normal;
        font-size: 14px;
        color: white;
        background-color: rgba(0,0,0,0.6);
        text-transform: uppercase;
    }
}




/* CONTACT */


.contact-form {
    margin-bottom: 10px;

    button {
        margin-top: 10px;
    }
}

.contact-form-table {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    textarea {
        height: 102px;
    }
}

.contact-form-table-col {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
    &:first-child {
        width: 40%;
        padding-left: 0px;
    }
}






/* LEGALS */

.legals-table {
    margin-top: 10px;
    margin-left: 10px;
    width: inherit;
    td {
        vertical-align: top;
        padding: 0 50px 10px 0;
        &:last-child {
            padding-right: 0;
        }
    }
}





/* LOGIN */

.login-form {
    margin-top: 20px;
    max-width: 400px;
}





.play-bar {
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
