.lecture-specs {
    margin-bottom: 10px;
    md-select {
        float: left;
        margin: 0 10px 0 0;
        vertical-align: top;

    }
    md-icon {
        color: #00695C;
        margin-right: 5px;
    }
    .md-button {
        font-size: 12px;
        text-transform: none;
        color: #505050;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}
