<div class="headline">
    <div class="headline-title">Record a Session</div>
</div>

<form novalidate name="recordForm" ng-submit="vm.record(recordForm.$valid)" class="record-form" layout="column">
    <div class="error" ng-messages="vm.sessionError">
        <div ng-message="backenderror">Was not able to start session. Try a different fingerprint or try again later.</div>
    </div>
    <div flex layout-xs="column" layout="row">
        <md-input-container class="md-block" flex-xs="100" flex="50">
            <label>Title</label>
            <input name="title" ng-model="vm.formData.title" required ng-disabled="vm.recState > 0"></input>
            <div ng-messages="recordForm.title.$error">
                <div ng-message-exp="['required']">Please enter a Title.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-xs="100" flex="50">
            <label>Fingerprint</label>
            <input name="fingerprint" ng-model="vm.formData.fingerprint" required ng-disabled="vm.recState > 0"></input>
            <div ng-messages="recordForm.fingerprint.$error">
                <div ng-message-exp="['required']">Please enter a Fingerprint.</div>
            </div>
        </md-input-container>
    </div>
    <md-input-container class="md-block" flex>
        <label>Description</label>
        <input name="description" ng-model="vm.formData.desc" ng-disabled="vm.recState > 0"></input>
    </md-input-container>
    <div flex layout-xs="column" layout="row">
        <md-input-container class="md-block" flex-xs="100" flex="50">
            <label>Password</label>
            <input name="password" ng-model="vm.formData.password" ng-disabled="vm.recState > 0"></input>
        </md-input-container>

        <md-input-container class="md-block" flex-xs="100" flex="50">
            <label>Translation</label>
            <input name="translation" ng-model="vm.formData.defaultTranslation" ng-disabled="vm.recState > 0"></input>
        </md-input-container>
    </div>

    <div flex layout-xs="column" layout="row">
        <md-input-container class="md-block" flex>
            <md-checkbox ng-model="vm.formData.logging" ng-disabled="vm.recState > 0">
                Store in Database
            </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block" flex>
            <md-checkbox ng-model="vm.formData.openDirectly" ng-disabled="vm.recState > 0">
                Open Directly
            </md-checkbox>
        </md-input-container>
    </div>
    <div flex layout-xs="column" layout="row">
        <div class="slider-container" flex layout="row">
            <div flex="nogrow" layout layout-align="center center">
                <md-button class="md-icon-button" ng-click="vm.toggleMute()" flex="nogrow">
                    <md-icon md-font-set="material-icons">{{ vm.mute ? 'volume_off' : vm.gain === 0 ? 'volume_mute' : vm.gain < 50 ? 'volume_down' : 'volume_up' }}</md-icon>
                </md-button>
            </div>
            <md-slider md-discrete flex ng-model="vm.gain" step="1" min="0" max="100" ng-disabled="vm.mute">
            </md-slider>
        </div>

        <div flex layout="row" layout-align="center center">
            <md-button class="md-icon-button md-primary" type="submit" ng-disabled="vm.recState > 0" flex="nogrow">
                <md-icon md-font-set="material-icons">fiber_manual_record</md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" type="button" ng-click="vm.pause()" ng-disabled="vm.recState === 0"  flex="nogrow">
                <md-icon md-font-set="material-icons">{{ vm.recstate === 2 ? 'play-arrow' : 'pause'}}</md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" type="button" ng-click="vm.stop()" ng-disabled="vm.recState === 0"  flex="nogrow">
                <md-icon md-font-set="material-icons">stop</md-icon>
            </md-button>
        </div>
    <div>

</form>

<div layout="row" layout-align="center center">
    <md-button flex class="md-primary" ui-sref="main.session.stream({s:vm.session.id})" ng-disabled="vm.session === null">
        Open Session
    </md-button>
</div>
