<div class="headline">
    <div class="headline-title">
        {{::vm.event.lectureTerm.lecture.title}} {{::vm.event.lectureTerm.term}}
        <span class="secondary">{{ ::vm.event.start | date : 'EEE, dd. MMM HH:mm' }} - {{ ::vm.event.stop | date : 'HH:mm' }}</span>
    </div>
</div>
<hr>
Assigned Session: <a ng-if="vm.event.sessionId" ui-sref="main.session.stream({s:vm.event.sessionId})">{{ vm.event.sessionId }}</a>
<span ng-if="!vm.event.sessionId">None</span>
<hr>
<div class="event-session-list">
    <div ng-repeat="session in vm.sessions">
        <h3>Original Session</h3>
        Id: {{ session.id }}<br>
        Title: {{ session.title }}<br>
        Created: {{ session.created | date : 'yyyy/MM/dd HH:mm' }}<br>
        <md-button class="md-raised" ui-sref="main.session.stream({s:session.id})" target="_blank">Go To Session</md-button>
        <md-button class="md-raised" ng-disabled="vm.event.sessionId === session.id" ng-class="{'md-primary': vm.event.sessionId === session.id}" ng-click="vm.assign(session.id)">Assign This Session</md-button>
    </div>
    <div ng-repeat="mediaEvent in vm.mediaEvents">
        <h3>Media Event</h3>
        Id: {{ mediaEvent.id }}<br>
        Audio: {{ mediaEvent.audioPath }}<br>
        Type: {{ mediaEvent.mediaType }}<br>
        Session: {{ mediaEvent.sessionId || 'None' }}
        <div ng-if="mediaEvent.sessionId">
            <md-button class="md-raised" ui-sref="main.session.stream({s:mediaEvent.sessionId})" target="_blank">Go To Session</md-button>
            <md-button class="md-raised" ng-disabled="vm.event.sessionId === mediaEvent.sessionId" ng-class="{'md-primary': vm.event.sessionId === mediaEvent.sessionId}" ng-click="vm.assign(mediaEvent.sessionId)">Assign This Session</md-button>
        </div>

    </div>
</div>
