<div class="node-list">
    <div ng-if="vm.nodes.length === 0" class="placeholder">
        <span>Empty Directory</span>
    </div>
    <table ng-if="vm.nodes.length > 0">
        <colgroup>
            <col width="50px"></col>
            <col width="*"></col>
            <col width="130px"></col>
            <col width="70px"></col>
            <col width="50px"></col>
        </colgroup>
        <thead>
            <tr class="noselect">
                <th></th>
                <th class="sortable" ng-class="{selected: vm.currentOrder.type === 'name', ascending: vm.currentOrder.isAscending}" ng-click="vm.sort('name')">Name</th>
                <th class="sortable" ng-class="{selected: vm.currentOrder.type === 'date', ascending: vm.currentOrder.isAscending}" ng-click="vm.sort('date')">Upload Date</th>
                <th class="sortable" ng-class="{selected: vm.currentOrder.type === 'size', ascending: vm.currentOrder.isAscending}" ng-click="vm.sort('size')">Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in vm.nodes" class="noselect" ng-click="vm.select($event, node)" ng-class="{selected: node.selected}" ng-dblclick="vm.open(node)">
                <td class="file-icon-cell">
                    <md-icon class="file-icon" ng-class="{'DIR': 'dir', 'DOC': 'file'}[node.nodeType]" md-font-set="material-icons">{{ node.nodeType === 'DIR' ? 'folder' : 'description' }}</md-icon>
                </td>
                <td>
                    <!--<a ng-if="node.nodeType==='DIR'" ui-sref="main.files({node: node.id})">{{ node.name }}</a>
                    <a ng-if="node.nodeType==='DOC'" ng-href="media/files/{{ node.id }}" target="_blank">{{ node.name }}</a>-->
                    {{ node.name }}
                    <!--<div class="inline-tags">
                        <span ng-repeat="tag in node.tags">{{tag.name}}</span>
                    </div>-->
                </td>
                <td>{{ node.created | date:'yyyy-MM-dd HH:mm' }}</td>
                <td>
                    <span ng-if="node.nodeType==='DOC'">{{ node.size | fileSize }}</span>
                    <span ng-if="node.nodeType==='DIR'">{{ node.size }}</span>
                </td>
                <td class="file-controls">
                    <md-menu>
                        <md-button aria-label="Open context menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                            <md-icon md-font-set="material-icons">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ng-click="vm.rename(node)">
                                    <md-icon md-font-set="material-icons">edit</md-icon>
                                    Rename
                                </md-button>
                            </md-menu-item>
                            <!--
                            <md-menu-item>
                                <md-button ng-click="vm.editTags(node)">
                                    <md-icon md-font-set="material-icons">label_outline</md-icon>
                                    Edit Tags
                                </md-button>
                            </md-menu-item> -->
                            <md-menu-item>
                                <md-button ng-click="vm.copyMove(node)">
                                    <md-icon md-font-set="material-icons">content_copy</md-icon>
                                    Copy / Move
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item ng-if="node.nodeType==='DOC'">
                                <md-button ng-click="vm.showText(node)" ng-disabled="!node.document.resource.textExists">
                                    <md-icon md-font-set="material-icons">subject</md-icon>
                                    Show Text
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider ng-if="node.nodeType==='DOC'"></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="vm.deleteNode(node)">
                                    <md-icon md-font-set="material-icons">delete</md-icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>
