.node-list {
    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        tr {
            border-bottom: 1px solid #ddd;
            outline: none;
            td {
                outline: none;
            }
        }
        thead {
            th {
                text-align: left;
                position: relative;
                padding: 8px 0;
                &.sortable {
                    cursor: pointer;
                    outline: none;
                    &:hover {
                        &::after {
                            content: " ";
                            display: inline-block;
                            height: 0px;
                            width: 0px;
                            border-style: solid;
                            border-color: transparent;
                            border-width: 5px;
                            border-bottom-color: #ddd;
                            margin-left: 5px;
                            margin-bottom: 1px;
                        }
                    }
                    &.selected {
                        &::after {
                            content: " ";
                            display: inline-block;
                            height: 0px;
                            width: 0px;
                            border-style: solid;
                            border-color: transparent;
                            border-width: 5px;
                            border-top-color: black;
                            margin-left: 5px;
                            margin-bottom: -4px;
                        }
                        &.ascending {
                            &::after {
                                border-bottom-color: black;
                                border-top-color: transparent;
                                margin-bottom: 1px;

                            }
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                outline: none;
                cursor: default;
                &.selected {
                    background-color: #009688;
                    color: white;
                    md-icon {
                        color: white;
                    }
                }
                td {
                    &.file-icon-cell {
                        text-align: center;
                    }
                }
            }
        }
        .file-controls {
            text-align: right;
        }
    }
}

.file-icon {
    &.file {
        color: #7783ab;
    }
    &.dir {
        color: #b7b7b7;
    }
}

.file-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.inline-tags {
    span {
        background-color: #ccc;
        color: #3c3c3c;
        padding: 1px 3px;
        margin-right: 3px;
    }
}
