<table class="chart">
    <colgroup>
        <col ng-repeat="col in cols track by $index" width="{{100 / length}}%"></col>
    </colgroup>
    <tbody>
        <tr ng-repeat="line in parts">
            <td ng-repeat="section in line" colspan="{{section.totalLength}}" class="item" ng-class="{skip:section.itemType === 'skip', node:section.itemType === 'node', stream:section.itemType === 'stream', main: section.main, clickable: section.last}">
                <table class="nodeItem" ng-if="section.itemType === 'node'">
                    <tbody>
                        <tr>
                            <td><span class="caption">name:</span> {{section.name}}</td>
                        </tr>
                        <tr>
                            <td><span class="caption">creator:</span> {{section.creator}}</td>
                        </tr>
                        <tr>
                            <td class="center"><div class="fing-type">{{ section.input.fingerprint }} ({{section.input.type}})</div></td>
                        </tr>
                        <tr>
                            <td class="center"><div><i class="fa fa-chevron-down"></i></div></td>
                        </tr>
                        <tr>
                            <td class="center"><div class="fing-type">{{ section.output.fingerprint }} ({{section.output.type}})</div></td>
                        </tr>
                    </tbody>
                </table>
                <table class="streamItem" ng-if="section.itemType === 'stream'">
                    <tbody>
                        <tr>
                            <td><span class="caption">name:</span> {{section.displayname}}</td>
                        </tr>
                        <tr>
                            <td><span class="caption">control:</span> {{section.control}}</td>
                        </tr>
                        <tr>
                            <td><span class="caption">streamid:</span> {{section.sid}}</td>
                        </tr>
                        <tr>
                            <td class="center"><div class="fing-type">{{ section.fingerprint }} ({{section.type}})</div></td>
                        </tr>
                    </tbody>
                </table>
                <table class="streamItem" ng-if="section.itemType === 'input'">
                    <tbody>
                        <tr>
                            <td><span class="caption">name:</span>Input</td>
                        </tr>
                        <tr>
                            <td class="center"><div class="fing-type">{{ section.fingerprint }} ({{section.type}})</div></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
