.chart {
    font-size: 0.9090909em;
    td.item {
        border: 1px solid @formBorderColor;
        padding: 5px;
        text-align: center;
        &.skip {
            border-width: 0;
        }
        &.stream {
            background-color: @naviColor;
            border-color: @naviColor;
            color: white;
        }
        &.node {
            background-color: @formBgColor;
        }
        &.main {
            background-color: #F99042;
            border-color: #F99042;
        }
        /*
        &.clickable {
            cursor: pointer;
            &:hover {
                background-color: lighten(@naviColor, 10%);
            }
            &.main {
                &:hover {
                    background-color: lighten(#F99042, 10%);
                }
            }
        }*/
        .fing-type {
            background-color: #cbd45a;
            padding: 3px;
            color: #3c3c3c;
        }
        table {
            width: auto;
            margin: auto;
            table-layout: fixed;
            word-wrap: break-word;
            td {
                vertical-align: top;
                &:last-child {
                    word-wrap: break-word;
                    word-break: break-all;
                }
                &.center {
                    text-align: center;
                }
                .caption {
                    font-weight: bold;
                }
            }
        }
    }
}
