<div>
    <div class="event-calendar-controls">
        <md-button ng-click="vm.backward()" class="md-icon-button">
            <md-icon md-font-set="material-icons">navigate_before</md-icon>
        </md-button>
        Week {{ vm.days[0] | date : 'ww' }}
        <md-button ng-click="vm.forward()" class="md-icon-button">
            <md-icon md-font-set="material-icons">navigate_next</md-icon>
        </md-button>
    </div>
    <div class="event-calendar-wrapper">
        <table class="event-calendar">
            <colgroup>
                <col width="35px"></col>
                <col width="*" ng-repeat="day in vm.days"></col>
            </colgroup>
            <thead>
                <tr class="event-calendar-row">
                    <th>
                    </th>
                    <th ng-repeat="day in vm.days">
                        <div>{{ day | date : 'EEE' }}</div>
                        <div>{{ day | date : 'dd. MMM.' }}</div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="event-calendar-row" ng-repeat="hour in vm.hours track by $index">
                    <td>
                        <span class="time-marker" ng-if="$index > 0">{{ hour }}</span>
                    </td>
                    <td ng-repeat="day in vm.days">

                    </td>
                </tr>
            </tbody>
        </table>
        <table class="event-calendar-overlay">
            <colgroup>
                <col width="35px"></col>
                <col width="*" ng-repeat="day in vm.days"></col>
            </colgroup>
            <tbody>
                <tr class="event-calendar-row">
                    <td>
                    </td>
                    <td ng-repeat="day in vm.days">
                        <div style="position:relative;width:100%;height:100%">&nbsp;
                            <md-button ng-disabled="!event.canAccess" ui-sref="main.event.content({id:event.id})" class="event" ng-repeat="event in vm.events[$index]" ng-style="event.style">
                                <div class="event-content">
                                    <div ng-if="!vm.givenLecture">{{ event.lectureTerm.lecture.title }}</div>
                                    <div>{{ event.start | date : 'HH:mm' }} - {{ event.stop | date : 'HH:mm' }}</div>
                                    <div class="secondary" ng-if="event.lectureHall !== null && !vm.givenLectureHall">{{ event.lectureHall.name }}</div>
                                    <div class="secondary" ng-if="event.lectureTerm.lecturers.length > 0 && !vm.givenLecturer">{{ event.lectureTerm.lecturers[0].fullName }}</div>
                                </div>
                                <session-auth auth-entity="event.lectureTerm.auth" no-action="true" small="true"></session-auth>
                                <md-tooltip md-delay="200" md-direction="top">
                                    <div ng-if="!vm.givenLecture">{{ event.lectureTerm.lecture.title }}</div>
                                    <div>{{ event.start | date : 'HH:mm' }} - {{ event.stop | date : 'HH:mm' }}</div>
                                    <div ng-if="event.lectureHall !== null && !vm.givenLectureHall">{{ event.lectureHall.name }}</div>
                                    <div ng-if="event.lectureTerm.lecturers.length > 0 && !vm.givenLecturer">{{ event.lectureTerm.lecturers[0].fullName }}</div>
                                </md-tooltip>
                            </md-button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="busy-overlay" ng-if="vm.busy">
            <md-progress-linear class="md-primary" md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>
</div>
