.event-calendar-wrapper {
    position: relative;
    .busy-overlay {
        position: absolute;
        top: 40px;
        height: 840px;
        left: 35px;
        right: 0;
        background-color: rgba(255,255,255,0.6);
        z-index: 3;
    }
}

.event-calendar-controls {
    margin-left: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.event-calendar-overlay {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 2;
    table-layout: fixed;
    border-collapse: collapse;
    tbody > tr {
        height: 840px;
    }
    td {
        border: 1px solid transparent;
        position: relative;
        padding: 0;
        .box-sizing(border-box);
        vertical-align: top;
        &:first-child {
            border: none;
        }
        .event {
            position: absolute;
            min-height: auto;
            width: 100%;
            left: -1px;
            background-color: white;
            border: 1px solid #B1B1B1;
            .border-radius(0);
            .box-sizing(content-box);
            margin: 0;
            padding: 0;
            .md-ripple-container {
                .border-radius(0);
            }
            &:not([disabled]):hover {
                background-color: #B2DFDB;
            }
            overflow: hidden;
            min-width: auto;
            font-size: 10px;
            line-height: 16px;
            text-align: left;
            text-transform: none;
            white-space: normal;
            .event-content {
                padding: 5px;
                > div {
                    max-height: 32px;
                    overflow: hidden;
                }
            }
            .session-auth {
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
            &[disabled] {
                color: inherit !important;
                background-color: #E5E5E5;
            }
        }
    }
}


.event-calendar {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    th {
        padding: 5px;
        background-color: #009688;
        border: 1px solid #009688;
        color: white;
        font-weight: normal;
        position: relative;
        white-space: nowrap;
        &:first-child {
            background-color: transparent;
            border: none;
        }
        > div {
            &:last-child {
                font-size: 10px;
                line-height: 12px;
                color: #E5E5E5;
            }
        }
    }
    td {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-top: 1px dashed #ddd;
        border-bottom: 1px dashed #ddd;
        position: relative;
        padding: 0;
        &:first-child {
            border: none;
        }
    }
    tbody > tr {
        height: 60px;
        &:first-child {
            td {
                border-top: none;
            }
        }
    }
    thead > tr {
        height: 40px;
    }
    .time-marker {
        display: block;
        position: absolute;
        top: -8px;
        right: 5px;
    }
}
