<div class="event-select">
    <div class="event-list" layout="row" layout-align="start start">
        <div flex="none" class="event-list-item" ng-repeat="event in vm.events" ng-click="vm.select(event)" ng-class="{selected: vm.event === event}">
            <div><b>{{ event.start | date : 'dd.MM.yyyy' }}</b> {{ event.start | date : 'HH:mm' }} - {{ event.stop | date : 'HH:mm' }}</div>
            <div>{{ event.lectureTerm.lecture.title }}</div>
            <div class="secondary" ng-if="event.lectureHall !== null">{{ event.lectureHall.name }}</div>
            <md-tooltip md-delay="200" md-direction="top">
                <div>{{ event.lectureTerm.lecture.title }}</div>
                <div>{{ event.start | date : 'HH:mm' }} - {{ event.stop | date : 'HH:mm' }}</div>
                <div ng-if="event.lectureHall !== null">{{ event.lectureHall.name }}</div>
            </md-tooltip>
        </div>
    </div>
    <div class="event-detail">
        <form ng-if="vm.event !== null" novalidate name="eventEditForm" ng-submit="vm.submit(eventEditForm)" class="md-inline-form">
            <div><b>{{ vm.event.start | date : 'dd.MM.yyyy' }}</b> {{ vm.event.start | date : 'HH:mm' }} - {{ vm.event.stop | date : 'HH:mm' }} ({{ vm.event.lectureHall.name }})</div>
            <div>{{ vm.event.lectureTerm.lecture.title }}</div>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <tag-select name="tags" ng-model="vm.event.tags"></tag-select>
                </md-input-container>
                <div flex="none">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="!eventEditForm.$valid || eventEditForm.$pristine">Save</md-button>
                </div>
            </div>
        </form>
    </div>
</div>
