.event-select {
    .event-list {
        overflow: auto;
        .event-list-item {
            background-color: white;
            border-bottom: 1px solid #B1B1B1;
            .box-sizing(content-box);
            margin: 0;
            padding: 5px;
            width: 150px;
            height: 100px;
            overflow: hidden;
            font-size: 10px;
            line-height: 16px;
            cursor: pointer;
            &:hover {
                background-color: #B2DFDB;
            }
            &.selected {
                background-color: #009688;
                color: white;
                &:hover {
                    background-color: #009688;
                }
                .secondary {
                    color: white;
                }
            }
        }
    }
}
