<md-button class="slide-toggle md-icon-button" ng-click="vm.showSlides = !vm.showSlides"><md-icon md-font-set="material-icons">recent_actors</md-icon></md-button>
<div class="slide-container" ng-if="vm.showSlides" flex="nogrow" scroll-manager datas="vm.slides" pos="vm.pos" glued="vm.glued" anchor="vm.time" id-prefix="sl" id-attr="uid" start-attr="start" stop-attr="stop">
    <div class="slide" id="sl{{ slide.uid }}" ng-repeat="slide in vm.slides" ng-click="vm.selectSlide(slide)" ng-class="{ selected: vm.time >= slide.start && vm.time < slide.stop, 'search-result': slide.selected }">
        <img ng-src="{{ slide.path }}" width="100px"></img>
        <div><b>{{ $index + 1 }}:</b> {{ slide.time }}</div>
    </div>

</div>
<md-button ng-if="vm.showSlides && !vm.glued && vm.filteredSlides.length == 0" class="md-fab md-primary md-mini" ng-click="vm.glued = !vm.glued">
    <md-icon md-font-set="material-icons">{{ vm.pos > vm.time ? 'expand_less' : 'expand_more' }}</md-icon>
</md-button>
<session-search-navi ng-show="vm.showSlides && vm.filteredSlides.length > 0" text="vm.text" datas="vm.slides" filtered-datas="vm.filteredSlides" pos="vm.pos" start-attr="start" text-attr="content"></session-search-navi>-
