session-slides {
    position: relative;
    height: 100%;
    .slide-toggle {
        position: absolute;
        left: -50px;
        top: 10px;
        z-index: 1;
        background-color: rgba(0,0,0,0.5);
        md-icon {
            color: white;
        }
    }
    .slide-container {
        position: relative;
        width: 144px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgba(0,0,0,0.7);
        padding: 10px;
        .box-sizing(border-box);
        .slide {
            padding: 5px;
            color: white;
            cursor: pointer;
            &.search-result {
                background-color: #FFEB3B;
                color: inherit;
            }
            &:hover {
                background-color: rgba(255, 87, 34, 0.3);
                box-shadow: inset 0 0 0px 1px #ff5722;
            }
            &.selected {
                background-color: #FF5722;
            }
        }
    }
    .md-button.md-fab {
        position: absolute;
        bottom: 10px;
        left: 40px;
    }
}
