<div class="session-auth" ng-class="{authenticated: authEntity.authenticated, small: small, 'no-action': noAction}">
    <md-button ng-if="!noAction" class="md-icon-button session-auth-button" ng-click="startAuthenticate($event)" ng-disabled="authEntity.authenticated || noAction">
        <md-icon md-font-set="material-icons">{{ authEntity.authenticated ? 'lock_open' : 'lock' }}</md-icon>
    </md-button>
    <md-icon ng-if="noAction" md-font-set="material-icons">{{ authEntity.authenticated ? 'lock_open' : 'lock' }}</md-icon>
</div>
