<md-dialog class="session-auth-dialog" aria-label="Unlock Dialog" ng-cloak>
    <form name="unlockForm" ng-submit="vm.login()">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="big-lock">
                    <md-progress-circular ng-if="vm.busy" class="md-primary" md-mode="indeterminate" md-diameter="150"></md-progress-circular>
                    <md-icon md-font-set="material-icons">lock</md-icon>
                    <span>LOCKED</span>
                </div>
                <md-input-container class="md-block" flex>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="vm.password" md-autofocus="true"></input>
                    <div ng-messages="unlockForm.password.$error">
                        <div ng-message-exp="['pwvalid']">wrong password</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.login()">
                Unlock
            </md-button>
            <md-button ng-click="vm.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
