.session-auth {
    md-icon {
        color: #FFC107;
    }
    &.authenticated {
        md-icon {
            color: #009688;
        }
    }
    &.small {
        padding: 1px 5px 5px 1px;
        background-color: inherit;
        md-icon {
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            height: auto;
            width: auto;
        }
    }
}


.session-auth-dialog {
    .md-dialog-content {
        padding-bottom: 0px;
    }
}
