live-indicator {
    display: inline-block;
    padding: 0px 5px 0px 15px;
    height: 14px;
    border: 1px solid #cccccc;
    position: relative;
    vertical-align: middle;
    margin: 0 5px;
    span.live-icon {
        position: absolute;
        top: 4px;
        left: 4px;
        height: 6px;
        width: 6px;
        border-radius: 3px;
        background-color: #f31b0c;
        margin-right: 5px;
    }
    span.live-text {
        color: #f31b0c;
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        vertical-align: top;
        line-height: 14px;
        font-style: italic;
    }
}
