<div class="streamview">
    <div class="headline">
        <div class="headline-title">
            {{ vm.session.printTitle }}
            <live-indicator></live-indicator>
            <span class="secondary" ng-if="vm.session.event !== null">{{ vm.session.event.start | date : "dd.MM.yyyy HH:mm"}} - {{ vm.session.event.stop | date : "HH:mm"}}</span>
        </div>
        <md-menu class="headline-controls" ng-if="vm.session.event !== null">
            <md-button aria-label="Select languages" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <md-icon md-font-set="material-icons">info_outline</md-icon>
                <md-tooltip md-delay="200" md-direction="top">lecture infos</md-tooltip>
            </md-button>
            <md-menu-content>
                <md-menu-item ng-repeat="lecturer in vm.session.event.lectureTerm.lecturers">
                    <md-button ui-sref="main.lecturer.view({id: lecturer.id})"><md-icon md-font-set="material-icons">account_circle</md-icon>{{ lecturer.fullName }}</md-button>
                </md-menu-item>
                <md-menu-item ng-if="vm.session.event.lectureHall !== null">
                    <md-button ui-sref="main.hall.view({id: vm.session.event.lectureHall.id})"><md-icon md-font-set="material-icons">place</md-icon>{{ vm.session.event.lectureHall.name }}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <div class="headline-controls">
            <md-button class="md-primary md-raised" ng-if="vm.auth.authenticated && vm.auth.isStaff()" ui-sref="main.session.details({s: vm.session.id})" ui-sref-active="hidden">Worker</md-button>
            <md-button class="md-primary md-raised" ng-if="vm.session.event !== null && vm.auth.authenticated && vm.auth.isStaff()" ui-sref="main.event.sessions({id: vm.session.event.id})">Edit</md-button>
        </div>
    </div>
    <session-data-live session="vm.session" selected-stream-idents="vm.selectedStreamIdents"></session-data-live>
    <event-nodes ng-if="vm.session.event !== null" event="vm.session.event" read-only="!vm.session.event.canUpload"></event-nodes>
    <div style="height: 500px"></div>
</div>
