
<md-dialog aria-label="Rename node">
    <form ng-cloak name="nodeRenameForm" ng-submit="vm.submit(nodeRenameForm)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Rename Node</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex>
                    <label>Name</label>
                    <input name="name" ng-model="vm.nodeName" required ng-maxlength="255" md-autofocus="true"></input>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" type="submit" title="Confirm Rename" ng-disabled="!nodeRenameForm.$valid || nodeRenameForm.$pristine">
                Rename
            </md-button>
            <md-button class="md-raised md-primary" title="cancel" ng-click="vm.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
