session-player {
    .player-container {
        height: 360px;
        min-height: 360px;
        &.with-captions {
            height: 440px;
            min-height: 440px;
        }
        position: relative;
        background-color: #333;
        margin-bottom: 10px;
        z-index: 2;
        .video-container {
            position: relative;
            height: 100%;
        }
    }
}

body.xs {
    session-player {
        .player-container {
            height: 240px;
            min-height: 240px;
            &.with-captions {
                height: 320px;
                min-height: 320px;
            }
        }
    }
}
