<div class="player-container" ng-class="{'with-captions': vm.captionsEnabled}" layout="row" layout-align="center stretch">
    <div class="video-container" flex>
        <video id="session_video" class="video-js vjs-default-skin" width="640px" height="347px"
            controls preload="auto"
            data-setup='{ "playbackRates": [1, 1.5, 2], "html5" : { "nativeTextTracks" : false }}'
            text-track-change="vm.textTrackChangeHandler(bla, track)" vjs-video vjs-media="vm.mediaToggle">
          <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
    </div>
    <session-slides ng-if="vm.session.media.slides.length > 0" slides="vm.session.media.slides" time="vm.timeGetter" text="vm.text", on-select="vm.slideSelectHandler(slide)"></session-slides>
</div>

<!-- TODO: Re-add this later
    <div flex="none" style="text-align:center" class="cut-button">
        <md-button class="md-icon-button" ng-click="vm.cut()" ng-disabled="vm.waitingForAJAX">
            
            CUT
        </md-button>
</div>
-->
