<div class="headline">
    <div class="headline-title">Feedback</div>
</div>
<div class="subheader">Send us your questions, problems & suggestions</div>

<div layout="row" layout-xs="column" layout-align="center center" layout-margin>
    <form novalidate name="contactForm" ng-submit="vm.send(contactForm.$valid)" class="contact-form" layout="column" flex="60" flex-xs="100">
        <md-input-container>
            <label>Email</label>
            <input name="email" ng-model="vm.formData.email" required>
            <div ng-messages="contactForm.email.$error">
                <div ng-message-exp="['required']">Please enter your email address.</div>
            </div>
        </md-input-container>
        <div layout="row">
            <md-input-container flex="70">
                <label>Name (optional)</label>
                <input ng-model="vm.formData.name">
            </md-input-container>
            <md-input-container flex="30">
                <label>Topic</label>
                <md-select ng-model="vm.formData.topic" md-container-class="sel1">
                    <md-option ng-repeat="item in vm.topicOptions" value="{{$index}}">
                        {{item.label}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <md-input-container>
            <label>Message</label>
            <textarea name="message" ng-model="vm.formData.message" cols="78" md-select-on-focus required></textarea>
            <div ng-messages="contactForm.message.$error">
                <div ng-message-exp="['required']">Please enter a message.</div>
            </div>
        </md-input-container>
        <div>
            <md-button class="md-raised md-primary" type="submit">Send</md-button>
        </div>
    </form>
    <div flex="40" flex-xs="100">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="subheader wo-background">Contact</span>
              <span>
                  Prof. Alex Waibel<br>
                  Institute for Anthropomatics and Robotics<br>
                  Adenauerring 2, Building 50.20<br>
                  D-76131 Karlsruhe<br>
                  <a href="http://lecture-translator.kit.edu/" alt="KIT Lecture Translator" target="_blank">lecture-translator.kit.edu</a><br>
                  <a href="info[at]lecture-translator.kit[dot]edu">info@lecture-translator.kit.edu</a><br>
              </span>
            </md-card-title-text>
        </md-card>
    </div>
</div>
