<div class="headline">
    <div class="headline-title">Legals</div>
</div>

Provider
Copyright
Disclaimer
References to External Webites
Data Protection and IT Safety

<h2>Provider</h2>
Provider of services in the sense of Art. 5 of the State Agreement on Media Services and Art. 55 of the German Act on Teleservices

<table class="legals-table">
    <tr>
        <td>Registered Office:</td>
        <td>
            Karlsruhe Institute of Technology<br/>
            Kaiserstraße 12<br/>
            76131 Karlsruhe<br/>
            Germany<br/>
            Phone: +49 721 608-0<br/>
            Fax: +49 721 608-44290<br/>
            E-mail: <a href="mailto:info@kit.edu">info@kit.edu</a>
        </td>
    </tr>
    <tr>
        <td>Legal Form:</td>
        <td>Corporation governed by public law</td>
    </tr>
    <tr>
        <td>Authorized Representatives:</td>
        <td>Prof. Dr. Holger Hanselka (President of KIT)</td>
    </tr>
    <tr>
        <td>Turnover Tax Identification Number:</td>
        <td>DE266749428</td>
    </tr>
</table>


<h2>Copyright</h2>
For the internet pages of Karlsruhe Institute of Technology, the copyright and all other rights lie with the Karlsruhe Institute of Technology, Kaiserstraße 12, 76131 Karlsruhe, Germany. Further dissemination, also in parts, for pedagogic, scientific or private purposes is allowed, provided that the source is indicated (unless otherwise expressly stated on the respective page). Use for commercial purposes shall require the approval by the Karlsruhe Institute of Technology. Contact the <a href="mailto:info@kit.edu">Public Relations and Marketing Department</a>.

<h2>Disclaimer</h2>
These internet pages serve for information only. Their contents were compiled with due diligence. However, Karlsruhe Institute of Technology shall not assume any liability, neither expressly nor implied, for the type or correctness of the material offered and shall not be liable (including liability for indirect loss or loss of profit) for the material or use of this material. In case contents of websites of the Karlsruhe Institute of Technology violate valid legal regulations, we kindly ask you to inform us immediately. We will then remove the site or the respective contents as quickly as possible.

<h2>References to External Websites</h2>
The websites of Karlsruhe Institute of Technology contain links to information offered by servers which are not subject to the control and responsibility of the Karlsruhe Institute of Technology. Karlsruhe Institute of Technology shall not assume any responsibility or guarantee for this information and shall not approve of or support such information in terms of contents.

<h2>Data Protection and IT Safety</h2>
Karlsruhe Institute of Technology shall be obliged to protect the private sphere of all persons using our site and to treat confidentially the personal data transmitted to us. The data shall be used exclusively for the purposes indicated and not disclosed to third parties. Your data will be deleted as soon as they will have served the purpose indicated.
Presently, coding techniques are being applied on our websites for authentification only. Hence, you have to assume that unauthorized persons take note of your data on their way to us. If you want to avoid this, contact the unit or person indicated by other means.
To maintain your session, it may be required to set a cookie under certain circumstances.
Possibly, your web browser or client software transmits information via your computer (e.g. your IP address) to our servers through no fault of your own. Such information shall never be brought directly in connection with you, but will only be evaluated in anonymous form for purposes of statistics, system administration or to improve the performance of our internet offer.
If you have further questions with respect to our data protection standards or if you wish to consult our public procedures register, please contact our <a href="mailto:datenschutzbeauftragter@kit.edu">Data Protection Commissioner</a>. In case you wish to inform yourself about the concepts and technical implementation of our IT safety, do not hesitate to contact our <a href="mailto:it-sicherheitsbeauftragter@kit.edu">IT Safety Commissioner</a>
