<div class="headline">
    <div class="headline-title">Login</div>
</div>

<div class="subheader">Login with your KIT account (i.e. ab1234 as employee or uxxxx as student)</div>

<form novalidate name="loginForm" class="login-form" ng-submit="vm.login(loginForm.$valid)" layout="column">
    <md-input-container>
        <label>Username (i.e. ab1234 as employee or uxxxx as student)</label>
        <input name="name" ng-model="vm.formData.name" required>
        <div ng-messages="loginForm.name.$error">
            <div ng-message-exp="['required']">Please enter your username..</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="vm.formData.password" required>
        <div ng-messages="loginForm.password.$error">
            <div ng-message-exp="['required']">Please enter your password.</div>
            <div ng-message-exp="['authenticated']">Username or password are not correct.</div>
        </div>
    </md-input-container>
    <md-button type="submit" class="md-primary">Login</md-button>
</form>
