<md-sidenav ng-if="!$mdMedia('gt-sm')" md-component-id="left" transparent>
    <div class="side-menu">
        <md-button class="md-primary" ui-sref="main.recent" active-on-navigation equal-state-limit="2"><md-icon md-font-set="material-icons">rss_feed</md-icon> Live</md-button>
        <md-button class="md-primary" ui-sref="main.search.lecture" active-on-navigation equal-state-limit="3"><md-icon md-font-set="material-icons">school</md-icon> Lectures</md-button>
        <div class="expand-container" ng-class="{expanded: vm.startExpanded}" ng-if="vm.auth.authenticated && vm.auth.hasPermission('can_record')">
            <md-button class="md-primary" ng-click="vm.startExpanded = !vm.startExpanded" active-on-navigation="main.record" equal-state-limit="2" ng-disabled="!webRTCReady">
                <md-icon md-font-set="material-icons">play_arrow</md-icon> Start a Session<md-icon class="toggle-icon" md-font-set="material-icons">expand_more</md-icon>
            </md-button>
            <div class="expand-items" ng-if="vm.startExpanded">
                <md-button class="md-primary" ui-sref="main.record" active-on-navigation equal-state-limit="3">Custom Session</md-button>
                <md-button class="md-primary" ng-click="vm.startSession('en-EU-lecture_KIT')" ng-disables="vm.recording">Quick Start English Demo</md-button>
                <md-button class="md-primary" ng-click="vm.startSession('de-DE-lecture_KIT')" ng-disables="vm.recording">Quick Start German Demo</md-button>
            </div>
        </div>

        <md-button class="md-primary" ng-if="vm.auth.authenticated && vm.auth.isStaff()" ui-sref="main.scheduler" active-on-navigation equal-state-limit="2"><md-icon md-font-set="material-icons">event</md-icon> Schedule a Lecture</md-button>
        <md-button class="md-primary" ui-sref="main.contact" active-on-navigation equal-state-limit="2"><md-icon md-font-set="material-icons">mail</md-icon> Contact</md-button>
        <md-button class="md-primary" ng-if="vm.auth.authenticated && vm.auth.isStaff()" ng-click="vm.goToEdit()" ng-disabled="!vm.canActivateEdit()"><md-icon md-font-set="material-icons">edit</md-icon> Edit This Page</md-button>
    </div>
</md-sidenav>
<div flex="noshrink" layout="column" class="outer-frame">
    <div layout="row" class="top-row">
        <div class="top-login" ng-if="!vm.auth.authenticated">
            <a ui-sref="main.login">LOGIN</a>
        </div>
        <div class="top-login" ng-if="vm.auth.authenticated">
            <span>{{ vm.auth.user.name }}</span>
            <a ui-sref="main.record" class="top-record" ng-if="vm.recording" ng-class="{paused: vm.paused}">
                <i class="fa small" ng-class="{true:'fa-pause', false:'fa-circle'}[vm.paused]"></i>
                <div class="inline-volume-container">
                    <div class="border-dummy"></div>
                    <div class="volume" style="width:{{vm.meter.volume * 100}}%;" ng-class="{clipping: vm.meter.clipping}"></div>
                </div>
            </a>
            <a href="" ng-click="vm.logout()">LOGOUT</a>
        </div>
        <div flex class="top-links">
            <a ui-sref="main.welcome">HOME</a>
            <a ui-sref="main.contact">CONTACT</a>
            <a ui-sref="main.legals">LEGALS</a>
            <a href="http://www.kit.edu">KIT</a>
        </div>
    </div>
    <div flex="noshrink" layout="column" class="main-area">
        <table>
            <div class="title-row" layout="row">
                <div class="menu-button-container" hide-gt-sm flex="nogrow">
                    <md-button class="md-icon-button md-primary" aria-label="open sidem menu" ng-click="toggleLeft()">
                        <md-icon md-font-set="material-icons">menu</md-icon>
                    </md-button>
                </div>
                <div layout="column" layout-gt-sm="row" flex>
                    <div flex class="banner-col">
                        <div id="banner">
                            <a ui-sref="main.welcome"><img ng-src="/static/assets/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="partner-links" flex-gt-sm="nogrow" flex layout-align="space-between center" layout-align-gt-sm="center center" layout="row" layout-gt-sm="column">
                        <div flex="50" flex-gt-sm="100" layout="row" layout-align="space-between center">
                            <a flex target="_blank" title="KIT-Logo - Link to KIT-Homepage" href="http://www.kit.edu"><img id="kit-logo" ng-src="/static/assets/images/kit_logo_white.svg"></a>
                            <a flex target="_blank" title="interACT-Logo - Link to interACT-Homepage" href="http://interact.anthropomatik.kit.edu/"><img id="int-logo" ng-src="/static/assets/images/logo_interact_white.svg"></a>
                        </div>
                        <div flex="50" flex-gt-sm="100" layout="row" layout-align="space-between center">
                            <a flex target="_blank" title="CMU-Logo - Link to CMU-Homepage" href="http://www.cmu.edu/index.shtml"><img id="cmu-logo" ng-src="/static/assets/images/White_CMU_EPS_Logo.svg"></a>
                            <a flex target="_blank" title="EU-Bridge-Logo - Link to EU-Bridge-Homepage" href="http://www.eu-bridge.eu/"><img id="eb-logo" ng-src="/static/assets/images/logo_eubridge_white.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </table>
        <div flex layout="row" class="middle-content" transparent>
            <md-sidenav ng-if="$mdMedia('gt-sm')" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" transparent>
                <div class="side-menu">
                    <md-button class="md-primary" ui-sref="main.recent" ui-sref-active-eq="active"><md-icon md-font-set="material-icons">rss_feed</md-icon> Live</md-button>
                    <md-button class="md-primary" ui-sref="main.search.lecture" ui-sref-active-eq="active"><md-icon md-font-set="material-icons">school</md-icon> Lectures</md-button>
                    <div class="expand-container" ng-class="{expanded: vm.startExpanded}" ng-if="vm.auth.authenticated && vm.auth.hasPermission('can_record')">
                        <md-button class="md-primary" ng-click="vm.startExpanded = !vm.startExpanded" ui-sref-active-eq="active" ng-disabled="!webRTCReady">
                            <md-icon md-font-set="material-icons">play_arrow</md-icon> Start a Session<md-icon class="toggle-icon" md-font-set="material-icons">expand_more</md-icon>
                        </md-button>
                        <div class="expand-items" ng-if="vm.startExpanded">
                            <md-button class="md-primary" ui-sref="main.record" ui-sref-active-eq="active">Custom Session</md-button>
                            <md-button class="md-primary" ng-click="vm.startSession('en-EU-lecture_KIT')" ng-disables="vm.recording">Quick Start English Demo</md-button>
                            <md-button class="md-primary" ng-click="vm.startSession('de-DE-lecture_KIT')" ng-disables="vm.recording">Quick Start German Demo</md-button>
                        </div>
                    </div>
                    <md-button class="md-primary" ng-if="vm.auth.authenticated && vm.auth.isStaff()" ui-sref="main.scheduler" ui-sref-active-eq="active"><md-icon md-font-set="material-icons">event</md-icon> Schedule a Lecture</md-button>
                    <md-button class="md-primary" ui-sref="main.contact" ui-sref-active-eq="active"><md-icon md-font-set="material-icons">mail</md-icon> Contact</md-button>
                    <md-button class="md-primary" ng-if="vm.auth.authenticated && vm.auth.isStaff()" ng-click="vm.goToEdit()" ng-disabled="!vm.canActivateEdit()"><md-icon md-font-set="material-icons">edit</md-icon> Edit This Page</md-button>
                </div>
            </md-sidenav>
            <div flex layout="column" class="content-wrapper">
                <div flex class="content" ui-view="main-content" transparent></div>
            </div>
        </div>
    </div>
    <div layout="column" class="footer">
        <div class="footnote"><span>KIT – Universität des <a target="_blank" href="http://www.baden-wuerttemberg.de/">Landes Baden-Württemberg</a> und <a target="_blank" href="http://www.helmholtz.de/">nationales Forschungszentrum in der Helmholtz-Gemeinschaft</a></span></div>
    </div>
</div>
