
<div style="font-size:40px; margin:40%; text-align:center; line-height:40px">
    We are sorry, but this browser is not supported.</br>
    Please update to a newer version: <a href="https://browser-update.org/update.html">Browser Update</a>
</div>
