
<div class="welcome-title">
    <div>
        <h1>follow live and pre-recorded lectures with computer generated transcripts and translations</h1>
    </div>
</div>
<div layout-gt-xs="row" layout="column">
    <div flex="50" style="padding-right:5px">
        <session-list></session-list>
    </div>
    <div flex="50" style="padding-left:5px">
        <accessible-lectures></accessible-lectures>
        <div class="text-center">
            <md-button class="md-raised md-primary" ui-sref="main.search.lecture"><md-icon md-font-set="material-icons">school</md-icon>&nbsp;List of all Lectures</md-button>
        </div>
    </div>
</div>
