<div class="headline">
    <div class="headline-title">{{vm.lecture.title}}<span class="secondary">{{ vm.lecture.slug }}</span></div>
</div>

<lecture-term-select lecture="vm.lecture" base-state="main.lecture.term.view"></lecture-term-select>
