<div class="lecture-term-select" ng-if="vm.lecture.terms.length > 1">
    <md-button class="md-raised" ng-class="{'md-primary': vm.term === term}" ng-click="vm.goToTerm(term)" ng-repeat="term in vm.lecture.terms">
        {{ term }}
    </md-button>
</div>
