<form novalidate name="lectureSearchForm" ng-submit="vm.refresh()" class="md-inline-form no-errors-form">
    <md-input-container class="md-icon-float md-button-right md-block">
        <label>Search by Lecture Title</label>
        <md-icon md-font-set="material-icons">search</md-icon>
        <input ng-model="vm.title">
        <md-button type="submit" class="md-primary">search</md-button>
    </md-input-container>
</form>

<div class="filter-box" ng-class="{open: vm.filterOpen}" ng-if="$mdMedia('xs')">
    <div class="filter-result">
        <div>
            <span ng-if="vm.selectedHalls.length + vm.selectedLecturers.length === 0">
                Filter
            </span>
            <span ng-if="vm.selectedHalls.length > 0">
                <b>Lecture Halls: </b>
                <span ng-repeat="hall in vm.selectedHalls">{{ ::hall.name }}<span ng-show="!$last">, </span></span>
            </span>
            <span ng-if="vm.selectedLecturers.length > 0">
                <b>Lecturers: </b>
                <span ng-repeat="lecturer in vm.selectedLecturers">{{ ::lecturer.fullName }}<span ng-show="!$last">, </span></span>
            </span>

        </div>
        <md-button class="md-icon-button" ng-click="vm.toggleFilter()">
            <div class="md-toggle-icon">
                <md-icon md-font-set="material-icons">expand_more</md-icon>
            </div>
        </md-button>
    </div>

    <div class="filter-controls">
        <md-subheader class="md-no-sticky">Lecture Halls</md-subheader>
        <div class="checkbox-list">
            <div ng-repeat="hall in ::vm.halls" style="width:{{ $mdMedia('xs') ? 50 : $mdMedia('sm') ? 33.333 : 25 }}%">
                <md-checkbox ng-model="hall.selected" ng-change="vm.refresh()">
                    {{ ::hall.name }}
                </md-checkbox>
            </div>
        </div>

        <md-subheader class="md-no-sticky">Lecturers</md-subheader>
        <div class="checkbox-list">
            <div ng-repeat="lecturer in ::vm.lecturers" style="width:{{ $mdMedia('xs') ? 50 : $mdMedia('sm') ? 33.333 : 25 }}%">
                <md-checkbox ng-model="lecturer.selected" ng-change="vm.refresh()">
                    {{ ::lecturer.fullName }}
                </md-checkbox>
            </div>
        </div>
    </div>
</div>

<div layout="row">
    <div style="width:200px" class="filter-sidebar" flex="nogrow" ng-if="!$mdMedia('xs')">
        <h3>Lecture Halls<span ng-if="vm.selectedHalls.length > 0">&nbsp;({{vm.selectedHalls.length}} selected)</span></h3>
        <div>
            <md-checkbox ng-repeat="hall in vm.halls|limitTo:(vm.showAllHalls?'':vm.filterLimit)" ng-model="hall.selected" ng-change="vm.refresh()">
                {{ ::hall.name }}
            </md-checkbox>
        </div>
        <md-button md-no-ink class="md-primary" ng-class="{expanded: vm.showAllHalls}" ng-if="vm.halls.length > vm.filterLimit" ng-click="vm.showAllHalls = !vm.showAllHalls">Show {{ vm.showAllHalls ? 'Less' : 'More (' + (vm.halls.length - vm.filterLimit) + ')'}}<md-icon class="toggle-icon" md-font-set="material-icons">expand_more</md-icon></md-button>

        <h3>Lecturers<span ng-if="vm.selectedLecturers.length > 0">&nbsp;({{vm.selectedLecturers.length}} selected)</span></h3>
        <div>
            <md-checkbox ng-repeat="lecturer in vm.lecturers|limitTo:(vm.showAllLecturers?'':vm.filterLimit)" ng-model="lecturer.selected" ng-change="vm.refresh()">
                {{ ::lecturer.fullName }}
            </md-checkbox>
        </div>
        <md-button md-no-ink class="md-primary" ng-class="{expanded: vm.showAllLecturers}" ng-if="vm.lecturers.length > vm.filterLimit" ng-click="vm.showAllLecturers = !vm.showAllLecturers">Show {{ vm.showAllLecturers ? 'Less' : 'More (' + (vm.lecturers.length - vm.filterLimit) + ')'}}<md-icon class="toggle-icon" md-font-set="material-icons">expand_more</md-icon></md-button>
    </div>

    <div flex class="lecture-list">
        <md-button class="lecture-list-item" ui-sref="main.lecture.terms({slug:lecture.slug})" ng-repeat="lecture in vm.lectures">
            <div class="item-text" layout="column">
                <h4>{{ ::lecture.title }}</h4>
                <div class="secondary">
                    <span ng-repeat="term in ::lecture.terms">
                        {{ ::term }}<span ng-if="!$last">,&nbsp;</span>
                    </span>
                </div>
            </div>
            <div class="session-counter">
                {{ ::lecture.slug }}
            </div>
        </md-button>
    </div>
</div>
