.filter-sidebar {
    md-checkbox {
        width: 100%;
        margin-right: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    button {
        .toggle-icon {
            transition: transform 0.3s ease-in-out;
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
        }
        &.expanded {
            .toggle-icon {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
            }
        }
    }
}
