<div>
    <md-chips name="tags" ng-model="vm.tags" md-autocomplete-snap
            md-add-on-blur
            md-on-add="vm.changeHandler()"
            md-on-remove="vm.changeHandler()"
            md-separator-keys="[9, 13, 32]"
            md-transform-chip="vm.transformChip($chip)">
        <md-autocomplete
            md-delay="300"
            md-selected-item="vm.selectedItem"
            md-search-text="vm.searchText"
            md-items="tag in vm.tagSearch(vm.searchText)"
            md-item-text="tag.name"
            md-selected-item-change="vm.itemSelectHandler()"
            placeholder="Add Tags">
            <span md-highlight-text="vm.searchText">{{tag.name}}</span>
        </md-autocomplete>
        <md-chip-template>
            <span>
                <span>{{ $chip.name }}</span>
            </span>
        </md-chip-template>
    </md-chips>
</div>
