<div class="resize-handle" ng-class="{active: pressed}" onselectstart="return false;">
    <md-icon md-font-set="material-icons">arrow_drop_up</md-icon>
    <md-icon md-font-set="material-icons">arrow_drop_down</md-icon>
</div>
