.resize-handle {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
    background-color: #009688;
    cursor: ns-resize;
    md-icon {
        display: block;
        color: white;
        margin-bottom: -12px;
    }
}
