<div class="headline">
    <div class="headline-title">
        {{vm.lecture.title}} {{vm.lectureTerm.term}}
        <span class="secondary">{{ vm.lecture.slug }}</span>
    </div>
    <session-auth auth-entity="vm.lectureTerm.auth"></session-auth>
</div>

<!-- Upload dialog -->
<div ng-if="vm.auth && vm.auth.isStaff()" id="upload-buttonbox">
    <md-button id="uploadswitch-button" ng-if='vm.modeUploadList === "not_upload"' ng-click="vm.show_list($event)" style="float: right;">Transcript upload</md-button>
</div>
<form role="form" enctype="multipart/form-data" class="form-horizontal" novalidate="">
    <fieldset id="upload-input-box" class="flex-horiz" ng-if='vm.modeUploadList === "upload"'>
        <div style="margin: 10px;">
            <h2>Transcript upload</h2>
        </div>

        <!-- Title -->
        <div class="upload-box-item">
            <label style="padding-right: 2px" >Title: </label>
            <input name="title" class="form-control" ng-model="vm.upl_data.data.title" type="text" value="" placeholder="optional" style="padding-left: 4px"/>
        </div>

        <!-- Password input -->
        <div class="upload-box-item">
            <label style="padding-right: 2px">Password</label>
            <input name="pw" class="form-control" ng-model="vm.upl_data.data.pw" type="password" placeholder="optional" style="padding-left: 4px"/>
        </div>

        <!-- Start/Stop date -->
        <div class="flex-vert flex-vert-center upload-box-item">
            <div>Start:</div>
            <input name="start" class="form-control" type="text" ng-model="vm.upl_data.data.startDate" value="" placeholder="YYYY-MM-DDThh:mm">
        </div>
        <div class="flex-vert flex-vert-center upload-box-item">
            <div>Stop:</div>
            <input name="stop" class="form-control" type="text" value="" ng-model="vm.upl_data.data.stopDate" placeholder="YYYY-MM-DDThh:mm">
        </div>

        <!-- Term display -->
        <div class="flex-vert flex-vert-center upload-box-item">
            <div name="lecture_term" class="form-control" type=text value={{vm.lectureTerm.term}}>Lecture Term: {{vm.lectureTerm.term}}</div>
        </div>

        <!-- lang select -->
        <div class="upload-box-item">
            <label style="padding-right: 2px" >Fingerprint: </label>
            <select name="fingerprint_in" class="form-control" id=fingerprint ng-model="vm.upl_data.data.fingerPrint">
                <option value="en">en</option>
                <option value="de">de</option>
            </select>
        </div>

        <!-- File select -->
        <input type="file" select-ng-files ng-model="vm.upl_data.files"/>
 
        <!-- Upload/Cancel buttons -->
        <div class="form-actions" id="upload-buttonbox" >
            <md-button id="upload-button" type="submit" ng-click="vm.event_upload()" ng-disabled='vm.modeUploadList !== "upload" || vm.upl_data.files === undefined'>upload</md-button>
            <md-button id="uploadswitch-button" ng-click="vm.hide_list($event)">Hide Upload</md-button>
        </div>
    </fieldset>
</form>


<lecture-term-select lecture="vm.lecture" term="vm.lectureTerm.term" base-state="main.lecture.term.view"></lecture-term-select>

<div class="lecture-item-list">
    <md-button ui-sref="main.lecturer.view({id: lecturer.id})" ng-repeat="lecturer in vm.lectureTerm.lecturers">
        <md-icon md-font-set="material-icons">account_circle</md-icon>&nbsp;
        {{ lecturer.fullName }}
    </md-button>
</div>

<div class="lecture-list" ng-repeat="month in vm.events">
    <md-subheader class="md-no-sticky">
        {{ month.label }}
    </md-subheader>
    <md-button ng-disabled="!event.canAccess" class="event-list-item" ui-sref="main.event.content({id:event.id})" ng-repeat="event in month.events">
        <div class="item-text" layout="column">
            <h4 ng-if="event.title !== ''">{{ event.title }}</h4>
            <h4>{{ ::event.start | date : 'EEE, dd. MMM HH:mm' }} - {{ ::event.stop | date : 'HH:mm' }}<md-icon md-font-set="material-icons" ng-if="event.sessionId">check</md-icon></h4>
            <div class="secondary" ng-if="event.lectureHall !== null">{{ ::event.lectureHall.name }}</div>
        </div>
        <div class="session-counter">

        </div>
    </md-button>
</div>
