<md-menu>
    <md-button aria-label="Select languages" class="md-icon-button" ng-click="$mdMenu.open($event)" ng-disabled="vm.workMode === 3">
        <md-icon md-font-set="material-icons">translate</md-icon>
        <md-tooltip md-delay="200" md-direction="top">add/remove languages</md-tooltip>
    </md-button>
    <md-menu-content>
        <md-menu-item ng-repeat="stream in vm.streamSelect">
            <md-button ng-click="vm.toggleSelectStream(stream)" ng-class="{selected: stream.selected}" class="btn2">
                <md-icon md-font-set="material-icons">{{stream.selected ? 'check_box' : 'check_box_outline_blank'}}</md-icon>
                {{ stream.label }}
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
<md-divider></md-divider>
<div ng-if="!vm.session.active && vm.session.media.hasMedia()">
    <md-button class="md-icon-button work-mode-icon" ng-class="{selected: vm.workMode === 2}" ng-click="vm.toggleWorkMode(2)" ng-disabled="vm.workMode === 3">
        <md-icon md-font-set="material-icons">touch_app</md-icon>
        <md-tooltip md-delay="200" md-direction="top">select to play</md-tooltip>
    </md-button>
    <md-divider></md-divider>
</div>
<md-button aria-label="Change layout" class="md-icon-button ori-change-button" ng-class="{vertical: vm.ls.layout.dir === 1}" ng-click="vm.toggleOrientation()" ng-disabled="vm.workMode === 3">
    <md-icon md-font-set="material-icons">view_column</md-icon>
    <md-tooltip md-delay="200" md-direction="top">toggle orientation</md-tooltip>
</md-button>
<md-divider></md-divider>
<md-button aria-label="Toggle fullscreen" class="md-icon-button" ng-click="vm.toggleFullscreen()" ng-disabled="vm.workMode === 3">
    <md-icon md-font-set="material-icons">{{vm.ls.layout.fullscreen ? "fullscreen_exit" : "fullscreen"}}</md-icon>
    <md-tooltip md-delay="200" md-direction="top">toggle fullscreen</md-tooltip>
</md-button>

<!--
<md-divider></md-divider>
<md-button aria-label="Find Links" class="md-icon-button filter-icon" ng-class="{on: vm.linksEnabled}" ng-click="vm.toggleLinks()">
    <md-icon md-font-set="material-icons">insert_link</md-icon>
    <md-tooltip md-delay="200" md-direction="top">find links</md-tooltip>
</md-button>-->
<resize-handle parent-id="text-container" ng-if="!vm.ls.layout.fullscreen"></resize-handle>
