session-sidebar {
    position: relative;
    width: 50px;
    background-color: #DCDCDC;
    border: 1px solid #ccc;
    button {
        md-icon {
            color: #5A5A5A;
        }
        &:hover {
            md-icon {
                color: darken(#5A5A5A, 20%);
            }
        }
        &.filter-icon {
            &.on {
                md-icon {
                    color: #009688;
                }
            }
        }
    }
    md-divider {
        margin: 0 5px;
    }
    .work-mode-icon {
        &.selected {
            md-icon {
                color: #FF5722;
            }
        }
    }
    .ori-change-button {
        md-icon {
            transition: transform 0.3s ease-in-out;
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
        }
        &.vertical {
            md-icon {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
            }
        }
    }
}
