<md-dialog class="lecturer-create-dialog" aria-label="Lecturer Create Dialog" ng-cloak>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="headline">
                <div class="headline-title">Create Lecturer</div>
            </div>
            <form novalidate name="lecturerCreateForm" ng-submit="vm.create(lecturerCreateForm.$valid)" class="md-inline-form">
                <md-input-container class="md-block no-padding" flex>
                    <label>Title</label>
                    <input type="text" name="title" ng-model="vm.title" md-autofocus></input>
                </md-input-container>
                <md-input-container class="md-block no-padding" flex>
                    <label>Name</label>
                    <input required type="text" name="name" ng-model="vm.name"></input>
                    <div ng-messages="lecturerCreateForm.name.$error">
                        <div ng-message-exp="['required']">Please enter a name.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block no-padding" flex>
                    <label>Username (to assign)</label>
                    <input type="text" name="user" ng-model="vm.user"></input>
                </md-input-container>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="vm.create(lecturerCreateForm.$valid)" ng-disabled="!lecturerCreateForm.$valid">
            Create
        </md-button>
        <md-button ng-click="vm.close()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>
