
<md-dialog aria-label="Copy / Move Items" class="copy-move-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Copy / Move Items</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon md-font-set="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <dir-tree node-id="vm.rootNodeId" on-select="vm.selectHandler($event)"></dir-tree>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="md-raised md-primary" title="Confirm Copy" ng-disabled="vm.selectedDir === undefined" ng-click="vm.submit('copy')">
            Copy
        </md-button>
        <md-button class="md-raised md-primary" title="Confirm Move" ng-disabled="vm.selectedDir === undefined" ng-click="vm.submit('move')">
            Move
        </md-button>
        <md-button class="md-raised md-primary" title="cancel" ng-click="vm.cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>
