<div class="subheader">Now Live</div>
<div class="lecture-list">
    <md-button class="lecture-list-item" ng-click="vm.goToSession(session)" ng-repeat="session in vm.sessions" ng-disabled="session.auth === null">
        <div class="item-text" layout="column">
            <h4>{{ session.event ? session.event.lectureTerm.lecture.title : session.title }}</h4>
            <div ng-if="session.event === null" class="secondary">ad hoc session</div>
            <div ng-if="session.event !== null" class="secondary">{{ session.event.lectureTerm.lecture.slug }}</div>
            <div ng-if="session.event !== null">{{ session.event.lectureTerm.term }}<span ng-if="session.event.lectureHall !== null">, {{ session.event.lectureHall.name }}</span></div>
        </div>
        <div class="session-counter" ng-if="session.event !== null">
            <div>{{ session.event.start | date : 'EEE. dd. MMM.' }}</div>
            <div>{{ session.event.start | date : 'HH:mm' }} - {{ session.event.stop ? (session.event.stop | date : 'HH:mm') : '?' }}</span></div>
        </div>
        <md-progress-circular ng-if="session.auth === null" class="md-primary" md-mode="indeterminate" md-diameter="40px"></md-progress-circular>
        <session-auth auth-entity="session.auth"></session-auth>
    </md-button>
    <div class="placeholder" ng-if="vm.sessions.length === 0">
        <span>No running sessions available</span>
    </div>
</div>
