<div class="subheader">My Lectures</div>
<div class="lecture-list">
    <md-button class="lecture-list-item" ng-click="vm.goToLecture(lectureTerm)" ng-repeat="lectureTerm in vm.lectureTerms">
        <div class="item-text" layout="column">
            <h4>{{ ::lectureTerm.title }}</h4>
            <div class="secondary">
                <span ng-repeat="term in ::lectureTerm.terms">
                    {{ ::term }}<span ng-if="!$last">,&nbsp;</span>
                </span>
            </div>
        </div>
        <div class="session-counter">
            {{ ::lectureTerm.slug }}
        </div>
    </md-button>
    <div class="placeholder" ng-if="vm.lectureTerms.length === 0">
        <span>No lectures yet</span>
    </div>
</div>
