

<md-dialog aria-label="File Upload">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>File Upload</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div id="dropzone" class="upload-list">
                    <div ng-if="vm.uploadFiles.length === 0" class="placeholder">
                        <span>Drop Files here</span>
                    </div>
                    <div title="{{ uf.name }}" class="upload-file" ng-repeat="uf in vm.uploadFiles">
                        <div class="item-text" layout="column">
                            <h4>{{ uf.name }}</h4>
                        </div>
                        <!--
                        <tag-select ng-model="uf.tags"></tag-select> -->
                        <div class="list-controls">
                            <md-button class="md-icon-button" title="remove upload" ng-click="vm.remove(uf)">
                                <md-icon md-font-set="material-icons">clear</md-icon>
                            </md-button>
                        </div>
                        <md-progress-linear md-mode="determinate" value="{{ uf.progress }}"></md-progress-linear>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span class="md-button md-raised md-primary fileinput-button">
                <md-icon md-font-set="material-icons">add</md-icon>
                <span> Add</span>
                <input id="doc-upload" class="co-upload" add="vm.add(e, data)" done="vm.done(e, data)" fail="vm.fail(e, data)" progress="vm.progress(e, data)" type="file" name="file" data-url="/resources/upload/" accept=".txt,text/*,application/pdf,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.ms-powerpoint,.pptx" multiple>
            </span>
            <md-button class="md-raised md-primary" title="start uploading files" ng-click="vm.startUpload()" ng-disabled="vm.uploadFiles.length === 0">
                <md-icon md-font-set="material-icons">file_upload</md-icon> Upload
            </md-button>
            <md-button class="md-raised md-primary" title="cancel upload" ng-click="vm.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
