.upload-list {
    max-height: 500px;
    overflow: auto;
    .upload-file {
        position: relative;
        padding: 10px;
        font-size: 1em;
        h4 {
            margin: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            .secondary {
                font-size: 12px;
                margin-left: 5px;
            }
        }
        .item-text {
            line-height: 20px;
            white-space: normal;
            padding-right: 80px;
            .secondary {
                color: rgb(150,150,150);
            }
        }
        .list-controls {
            position: absolute;
            right: 0;
            top: 0;
        }
        md-progress-linear {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10px;
            .md-container {
                height: 10px;
                .md-bar {
                    height: 10px;
                }
            }
        }
    }
}


.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    .js-fileapi-wrapper {
        left: -10px;
        top: -10px;
        display: inline;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        filter: alpha(opacity=0);
    }
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
    font-size: 200px !important;
    cursor: pointer;
}

